mixin message-form
    .message-form
        input(type="text" name="name" class="text-field message-form__data-field_type_input" placeholder="Your Name")
        br
        input(type="text" name="email" class="text-field message-form__data-field_type_input" placeholder="Your Email")
        br
        textarea(class="text-field message-form__data-field_type_textarea" name="message" placeholder="Your Message")
        br
        .message-form__button
            +button('standard', 'cyan', 'submit')
