mixin message-form
    .message-form
        input(type="text" name="name" class="message-form__data-field message-form__data-field_type_input" placeholder="Your name")
        br
        input(type="text" name="email" class="message-form__data-field message-form__data-field_type_input" placeholder="Your email")
        br
        textarea(class="message-form__data-field message-form__data-field_type_textarea" name="message" placeholder="Your message")
        br
        .message-form__button
            +button('standard', 'cyan', 'submit')
