@import '../../ui-kit-components/arrow-buttons/arrow-buttons';
@import '../../ui-kit-components/slider/slider';
@import '../../../styles/variables/colors';

.course-stages {
  width: 620px;
  height: 210px;
  text-align: center;

  &__title {
    font-size: 1.5rem;
  }

  &__stage {
    font-size: 1.5rem;
    text-decoration: underline;
    position: relative;
    top: 45px;
  }

  &__arrows {
    width: 430px;
    margin: 10px auto 40px;
  }

  &__slider {
    width: 568px;
    margin: auto;

    .slider.slider_with_stages {
      .ui-slider-pip {
        &-selected {
          background-color: $cyan;
        }

        &-inrange {
          background-color: $cyan;
        }
      }
    }
  }
}
