.dropdown__button {
  background-image: none;
  background-color: #4eb7a8;
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
  display: inline-block;
}

.dropdown__button div {
  width: 8px;
  height: 8px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  margin-top: 20%;
  margin-left: 33.5%;
}