@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-regular.woff) format("woff"), url(../fonts/lato-regular.ttf) format("truetype"), url(../fonts/lato-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-black.woff) format("woff"), url(../fonts/lato-black.ttf) format("truetype"), url(../fonts/lato-black.svg) format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/source-sans-pro-regular.woff) format("woff"), url(../fonts/source-sans-pro-regular.ttf) format("truetype"), url(../fonts/source-sans-pro-regular.svg) format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 16px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

.text-field {
  height: 28px;
  background-color: #e5e5e5;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s;
  color: #888888;
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  letter-spacing: 0.14px;
  padding-left: 12px; }
  .text-field:focus {
    box-shadow: 0 0 5px black; }
  .text-field_type_for-search-bar {
    width: 100%;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    font-size: 0.9375rem;
    padding: 0 0 2px 0.9vw;
    box-sizing: border-box; }
  input.text-field_type_for-message-form {
    width: 196px;
    height: 24px;
    padding-left: 13px;
    padding-bottom: 3.4px;
    font-size: 0.9375rem; }
  textarea.text-field_type_for-message-form {
    width: 273px;
    height: 76px;
    resize: none;
    padding-top: 8.1px;
    padding-left: 13.5px; }
  .text-field_type_for-message-box {
    border: 3px solid #ffffff;
    width: calc(100% - 25px);
    height: 62px;
    padding-top: 16px;
    padding-left: 18px;
    resize: none; }

.search-bar {
  width: 288px;
  height: 28px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e5e5e5; }
  .search-bar__button {
    background: #e75735 url(../images/search.svg) no-repeat center;
    border: none;
    width: 33px;
    height: 28px;
    float: right;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    outline: none;
    cursor: pointer; }
    .search-bar__button:hover {
      box-shadow: 0 0 5px black; }
    .search-bar__button:active {
      box-shadow: none; }
  .search-bar__input {
    width: calc(100% - 33px);
    float: left; }
  .search-bar_size_hundred-percents {
    width: 100%; }

.header {
  min-width: 780px;
  height: 130px;
  position: relative;
  z-index: 10; }
  .header__left {
    width: 230px;
    height: 100%;
    float: left; }
    .header__left_color_red {
      background-color: #e75735; }
  .header__back-to-ui-kit {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: inherit; }
    .header__back-to-ui-kit:active {
      color: #4f4f4f; }
  .header__navigation {
    text-align: center;
    width: 200px;
    margin: 20px auto 0; }
  .header__right {
    height: 100%;
    line-height: 130px;
    width: calc(100% - 230px);
    background-color: #e5e5e5;
    min-width: 550px;
    display: inline-block;
    text-align: start;
    float: right;
    padding-left: 30px;
    box-sizing: border-box; }
  .header__name {
    color: #e75735;
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block; }

.ink {
  display: block;
  position: absolute;
  background-color: #fafafa;
  border-radius: 100%;
  transform: scale(0); }
  .ink.animate {
    animation: ripple 0.65s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2); } }

.button {
  border-radius: 4px; }
  .button_size_small {
    width: 78px; }
  .button_size_standard {
    width: 118px; }
  .button_width_hundred-percents {
    width: 100%; }
  .button_color_cyan {
    background-color: #4eb7a8; }
    .button_color_cyan:hover {
      background-color: #4eb7a8; }
  .button_color_orange-red {
    background-color: #e75735; }
    .button_color_orange-red:hover {
      background-color: #e75735; }
  .button__button {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.6px;
    transform: translate(0, -9%);
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    transition: background 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden; }
    .button__button:active {
      transform: translate(0, 0); }
    .button__button_size_small {
      width: 100%;
      height: 22px; }
    .button__button_size_standard {
      width: 100%;
      height: 32px; }
    .button__button_color_cyan {
      background-color: #ffffff;
      color: #4eb7a8;
      border: 1px solid #4eb7a8; }
      .button__button_color_cyan:hover {
        background-color: #4eb7a8;
        color: #ffffff; }
    .button__button_color_orange-red {
      background-color: #ffffff;
      color: #e75735;
      border: 1px solid #e75735; }
      .button__button_color_orange-red:hover {
        background-color: #e75735;
        color: #ffffff; }

.user-photo {
  width: 93px;
  height: 93px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .user-photo img {
    margin: 5px; }

.text-field {
  height: 28px;
  background-color: #e5e5e5;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  transition: box-shadow 0.3s;
  color: #888888;
  font-family: "Source Sans Pro";
  font-size: 0.875rem;
  letter-spacing: 0.14px;
  padding-left: 12px; }
  .text-field:focus {
    box-shadow: 0 0 5px black; }
  .text-field_type_for-search-bar {
    width: 100%;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    font-size: 0.9375rem;
    padding: 0 0 2px 0.9vw;
    box-sizing: border-box; }
  input.text-field_type_for-message-form {
    width: 196px;
    height: 24px;
    padding-left: 13px;
    padding-bottom: 3.4px;
    font-size: 0.9375rem; }
  textarea.text-field_type_for-message-form {
    width: 273px;
    height: 76px;
    resize: none;
    padding-top: 8.1px;
    padding-left: 13.5px; }
  .text-field_type_for-message-box {
    border: 3px solid #ffffff;
    width: calc(100% - 25px);
    height: 62px;
    padding-top: 16px;
    padding-left: 18px;
    resize: none; }

.message-box {
  width: 288px;
  height: 428px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2f2f2; }
  .message-box__header {
    width: 100%;
    height: 115px;
    position: relative;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit; }
    .message-box__header:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 34px;
      bottom: 0;
      left: 0; }
    .message-box__header_theme_cyan {
      background-color: #4eb7a8; }
      .message-box__header_theme_cyan:after {
        background-color: #46ab9d; }
    .message-box__header_theme_orange-red {
      background-color: #e75735; }
      .message-box__header_theme_orange-red:after {
        background-color: #d54c2c; }
  .message-box__body {
    width: 100%;
    height: calc(100% - 115px); }
  .message-box__camera-button {
    width: 25px;
    height: 25px;
    background: url(../images/camera-icon.svg) center no-repeat;
    display: inline-block;
    position: absolute;
    right: 5px; }
  .message-box__chat {
    height: calc(100% - 18px - 29px);
    width: 244px;
    margin: 18px auto 29px;
    position: relative; }
  .message-box__chat-button {
    width: 25px;
    height: 25px;
    background: url(../images/chat-icon.svg) center no-repeat;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 2px; }
  .message-box__message {
    width: calc(100% - 40px);
    height: 32px;
    position: absolute;
    top: 43px;
    padding: 20px;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    color: #888888;
    font-size: 0.8125rem;
    letter-spacing: 0.63px; }
    .message-box__message::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: calc(100% - 5.5px);
      left: 47%;
      background-color: inherit;
      border-width: 6px;
      margin-top: -6px;
      border-radius: 2px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .message-box__name {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 2.125rem;
    line-height: 70px;
    letter-spacing: -1.02px;
    text-align: center; }
  .message-box__photo {
    position: absolute;
    left: calc(50% - 101px / 2);
    bottom: calc(-94px / 2);
    z-index: 1; }
  .message-box__reply {
    position: absolute;
    top: 130px;
    width: 100%; }
  .message-box__reply-button {
    position: absolute;
    width: 100%;
    bottom: -2px; }
    .message-box__reply-button button {
      padding: 5px 12px 0 0; }

.menu-message {
  width: 288px;
  position: fixed;
  bottom: 0; }
  .menu-message__header {
    width: 230px;
    height: 50px;
    background-color: #888888;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2px;
    line-height: 50px;
    vertical-align: center; }
  .menu-message__message-box {
    display: none; }

.menu {
  width: 230px;
  min-width: 230px;
  min-height: 100%;
  background-color: #e5e5e5; }
  .menu__pages {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem; }
    .menu__pages a {
      color: inherit; }
      .menu__pages a:active {
        color: #4f4f4f; }
  .menu__message-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 30; }

.page-content {
  width: calc(100% - 230px);
  min-width: 550px;
  min-height: calc(100% - 130px);
  color: #888888;
  padding: 10px; }

.page-wrapper {
  width: 100%;
  min-width: 780px;
  display: flex;
  flex-direction: row; }

.video {
  width: 594px;
  height: 340px; }

.info__title {
  text-align: center;
  font-size: 2rem;
  color: inherit;
  margin: 20px; }

.info__text {
  margin: auto;
  width: 70%;
  text-align: center; }

.info__video {
  width: 594px;
  margin: 20px auto; }
