include ../../ui-kit-components/slider/slider
include ../block-sign/block-sign

mixin sliders(items)
  .sliders
    +block-sign('sliders', 'sliders')

    .sliders__container
      each optionItem in items
        .sliders__slider
          +slider(optionItem)
