include ../../ui-kit-components/slider/slider
include ../block-sign/block-sign

mixin sliders(items)
  .sliders
    +block-sign("sliders", "sliders")

    .sliders__container
      each item in items
        - var { options, styles } = item;

        .sliders__slider
          +slider(options, styles)
