.sliders {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.9375rem;

    @media screen and (max-width: 1094px) {
      justify-content: space-around;
    }
  }

  &__slider {
    width: 45%;
    min-width: 15rem;
    margin-top: 2rem;
  }
}
