mixin dropdown(options)
  select.dropdown.js-dropdown
    option.dropdown__option(selected, disabled, style="display: none;") Choose an option
    each value in options
      option.dropdown__option(value=value)= value
