include ../text-field/text-field

mixin dropdown(options)
  .dropdown
    select.dropdown__select
      option.dropdown__option Choose An Option
      each value in options
        option.dropdown__option(value=value)= value
    .dropdown__button
      .dropdown__check-mark
