@import '~jquery-ui/themes/base/selectmenu';

.dropdown {
  &__options {
    display: none;
  }

  + .ui-selectmenu-button.ui-button {
    @include outline;
    
    width: 100%;
    height: 1.75rem;
    background-color: $base-primary-light;
    border-radius: 0.25rem;
    position: relative;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0.3125rem #000;
    }

    .ui-selectmenu-text {
      color: $base-primary-main;
      font-family: 'Source Sans Pro', Arial, sans-serif;
      font-size: 0.875rem;
      letter-spacing: 0.02rem;
      padding-left: 0.75rem;
      padding-top: 0.25rem;
    }

    .ui-selectmenu-icon {
      @include outline;
      
      width: 2.0625rem;
      height: 1.75rem;
      background-color: $theme-primary-main;
      border: 0;
      border-radius: 0 0.25rem 0.25rem 0;
      float: right;
      position: relative;

      &:hover {
        box-shadow: 0 0 0.3125rem #000;
      }

      &:active {
        box-shadow: none;
      }

      &::after {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        border-bottom: 0.125rem solid $base-secondary-main;
        border-left: 0.125rem solid $base-secondary-main;
        margin-top: 20%;
        transform: rotate(-45deg);
        position: absolute;
        left: 35%;
      }
    }
  }
}

.ui-selectmenu-menu.ui-selectmenu-open {
  background-color: $theme-primary-main;
  color: $base-secondary-main;
  border-radius: 0.2rem;
  padding: 0;
  margin: 0;
  cursor: pointer;

  .ui-menu {
    list-style: none inside;
    padding: 0 0 0.5rem;
    margin: 0;
    font-size: 0.875rem;

    .ui-menu-item-wrapper {
      font-family: 'Source Sans Pro', Arial, sans-serif;
      padding: 0.4rem 0 0.35rem 0.8rem;

      &:hover {
        background-color: $base-primary-main;
        border-radius: 0.2rem;
      }
    }
  }
}

.ui-state-disabled {
  display: none;
}
