.dropdown {
  background-color: $light-gray;
  border-radius: 0.25rem;
  height: 1.75rem;
  position: relative;
  transition: box-shadow 0.3s;
  width: 100%;

  &:hover {
    box-shadow: 0 0 0.3125rem #000;
  }

  option:checked {
    background-color: $cyan;
  }

  &__option {
    background-color: $light-gray;
    font-size: 0.9375rem;
  }

  select:focus {
    box-shadow: none;
  }

  &__select {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0.25rem;
    color: $gray;
    font-family: 'Source Sans Pro';
    font-size: 0.9375rem;
    height: 1.75rem;
    letter-spacing: 0.00875rem;
    outline: none;
    padding-left: 0.75rem;
    position: absolute;
    transition: box-shadow 3s;
    width: 100%;
    z-index: 10;
  }

  &__button {
    background-color: $cyan;
    border: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 1.75rem;
    outline: none;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 2.0625rem;

    &:hover {
      box-shadow: 0 0 0.3125rem #000;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__check-mark {
    border-bottom: 0.125rem solid $white;
    border-left: 0.125rem solid $white;
    height: 0.5rem;
    margin-left: 33.5%;
    margin-top: 20%;
    transform: rotate(-45deg);
    width: 0.5rem;
  }
}

