@import '../button/button';
@import '../../../styles/variables/colors';
@import '../../../styles/functions/functions';

.billboard {
  width: 288px;
  height: 212px;
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $white;

  &_background-color {
    &_cyan {
      background-color: $cyan;
    }

    &_orange-red {
      background-color: $orange-red;
    }
  }

  &__content {
    margin: 11px 20px 0px 20px;
    width: 193px;
  }

  &__image {
    width: 95px;
  }

  &__description {
    font-family: Lato;
    font-size: countRem(11);
    font-weight: 400;
    letter-spacing: 0.55px;
    margin-left: 2px;
  }

  &__date {
    &_type {
      &_event {
        margin-bottom: 18px;
        vertical-align: middle;
        height: 70px;
      }

      &_new {
        font-size: countRem(11);
        text-transform: uppercase;
        letter-spacing: 0.55px;
        margin: 10px 0 13px 3px;
      }
    }
  }

  &__event-day {
    font-size: countRem(73);
    letter-spacing: -2.92px;
    display: inline-block;
  }

  &__event-month {
    display: inline-block;
    margin-left: 14px;
    font-size: countRem(30);
  }

  &__title {
    &_type {
      &_event {
        font-size: countRem(13);
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 0.63px;
        margin-left: 1px;
      }

      &_new {
        font-size: countRem(28);
        line-height: 26px;
        margin-top: 13px;
      }
    }
  }

  &__button {
    width: 89.5%;
    margin: 20px auto;
  }
}
