.billboard {
  min-width: 18rem;
  min-height: 13.25rem;
  display: flex;
  border-radius: 0.1875rem;
  color: $base-secondary-main;

  @media screen and (max-width: 400px) {
    min-width: 16.5rem;
  }

  &_type {
    &_events {
      .billboard__title {
        font-size: 0.7rem;
        font-weight: 900;
        letter-spacing: 0.07rem;
        text-transform: uppercase;
        margin-bottom: 0.2rem;
      }

      .billboard__date {
        height: 4.375rem;
        margin-bottom: 1.65rem;
        font-weight: 300;
      }
    }

    &_news {
      .billboard__title {
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 1.625rem;
        margin-top: 0.95rem;
      }

      .billboard__date {
        font-size: 0.65rem;
        font-weight: 900;
        letter-spacing: 0.08rem;
        margin: 0.87rem 0 0.82rem;
        text-transform: uppercase;
      }
    }
  }

  &_background-color {
    &_primary {
      background-color: $theme-primary-main;
    }

    &_secondary {
      background-color: $theme-secondary-main;
    }
  }

  &__content {
    width: 67%;
    margin: 0.35rem 1.2rem 0.3rem;

    @media screen and (max-width: 400px) {
      margin: 0.2rem 0.6rem;
    }
  }

  &__image {
    width: 7.7rem;
    background-size: cover;
    border-radius: 0.1875rem 0 0 0.1875rem;
  }

  &__description {
    font: 400 0.6875rem Lato, Arial, sans-serif;
    letter-spacing: 0.034375rem;
    margin-bottom: 1.3rem;
  }

  &__event-day {
    display: inline-block;
    font-size: 4.5625rem;
    letter-spacing: -0.1825rem;
  }

  &__event-month {
    display: inline-block;
    font-size: 1.875rem;
    margin-left: 0.6rem;
  }

  &__button {
    width: 84%;
    height: 0.5rem;
    margin: 1.25rem auto;
  }
}
