@import '../button/button';
@import '../../../styles/variables/colors';

.billboard {
  width: 18rem;
  height: 13.25rem;
  display: flex;
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  color: $white;

  &_background-color {
    &_cyan {
      background-color: $cyan;
    }

    &_orange-red {
      background-color: $orange-red;
    }
  }

  &__content {
    margin: 0.6875rem 1.25rem 0rem 1.25rem;
    width: 12.0625rem;
  }

  &__image {
    width: 5.9375rem;
  }

  &__description {
    font-family: Lato;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.034375rem;
    margin-left: 0.125rem;
  }

  &__date {
    &_type {
      &_event {
        margin-bottom: 1.125rem;
        vertical-align: middle;
        height: 4.375rem;
      }

      &_new {
        font-size: 0.6875rem;
        text-transform: uppercase;
        letter-spacing: 0.034375rem;
        margin: 0.625rem 0 0.8125rem 0.1875rem;
      }
    }
  }

  &__event-day {
    font-size: 4.5625rem;
    letter-spacing: -0.1825rem;
    display: inline-block;
  }

  &__event-month {
    display: inline-block;
    margin-left: 0.875rem;
    font-size: 1.875rem;
  }

  &__title {
    &_type {
      &_event {
        font-size: 0.8125rem;
        text-transform: uppercase;
        line-height: 1.25rem;
        letter-spacing: 0.039375rem;
        margin-left: 0.0625rem;
      }

      &_new {
        font-size: 1.75rem;
        line-height: 1.625rem;
        margin-top: 0.8125rem;
      }
    }
  }

  &__button {
    width: 89.5%;
    margin: 1.25rem auto;
  }
}
