mixin user-photo(name)
  .user-photo
    img(
      src=require(
        `../../components/ui-kit-components/user-photo/photos/${name.toLowerCase().replace(" ", "-")}.png`
      )
      alt=name
    )
