@import '../../../styles/variables/colors';

.user-photo {
  width: 93px;
  height: 93px;
  background-color: $light-gray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  img {
    margin: 5px;
  }
}
