mixin user-photo(name)
  .user-photo
    img.user-photo__image(
      src=require(
        `../../components/ui-kit-components/user-photo/images/${name.toLowerCase().replace(" ", "-")}.png`
      ),
      alt=name
    )
