.user-photo {
  background-color: $base-primary-light;
  border-radius: 50%;
  height: 5.8125rem;
  width: 5.8125rem;

  &__image {
    height: 5.2rem;
    margin: 0.3125rem;
    width: 5.2rem;
  }
}
