include ../../components/button/button
include ../../components/arrow-button/arrow-buttons
include ../../components/donut-chart/donut-chart
include ../../components/message-form/message-form
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search-bar/search-bar
include ../../components/dropdown/dpordown
include ../../components/user-photo/user-photo
include ../../components/user-photo/_with-tooltip/user-photo_with-tooltip
include ../../components/billboard/billboard
include ../../components/message-box/message-box
include ../../components/map/map
include ../../components/datepicker/datepicker
include ../../components/video/video


doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UI-Kit
    body
        .buttons
            .buttons__sign STANDARD BUTTONS
            .buttons__container
                +button('small', 'cyan', 'button')
                +button('standard', 'cyan', 'button')
                +button('standard', 'red', 'button')
                +button('small', 'red', 'button')
        .arrows
            .arrows__sign ARROW BUTTONS
            .arrows__container
                +arrow-buttons
                +arrow-buttons('disabled')
                +arrow-buttons
        br
        br
        br
        +donut-chart(85)
        +donut-chart(25)
        +donut-chart(50)
        +donut-chart([100, 75, 40, 10], ['#e5e5e5', '#4eb7a8', '#e75735', '#747474'], 10)
        br
        .slider_with-tooltip
        br
        br
        br
        .slider_with-label
        br
        br
        br
        .stages
        br
        br
        br
        +message-form
        br
        br
        br
        br
        br
        +toggle
        br
        br
        br
        +tick-box
        br
        br
        br
        br
        +search-bar
        br
        br
        br
        - var dropdownParameters = ['website', 'design', 'something']
        +dropdown
        br
        br
        br
        br
        +user-photo("John Smith")
        br
        +user-photo("Sarah Brown")
        br
        br
        br
        +user-photo_with-tooltip('John Smith', 'ux designer', 'orange-red')
        br
        +user-photo_with-tooltip('Sarah Brown', 'developer', 'cyan')
        br
        br
        br
        +billboard('news', 'It’s all going\n' +
        'downhill', 'new', 'Lorem ipsum dolor sit amet' +
        ', consectetur adipiscing elit. Sed condimentum aliquet venenatis.\n' +
        ' Etiam a nisi nunc, a tincidunt eros.', 'orange-red', '24', 'august', '2013')
        br
        br
        br
        +billboard('events', 'this is the title', 'event', 'Lorem ipsum dolor sit amet' +
        ', consectetur adipiscing elit.', 'cyan', '24', 'Aug')
        br
        br
        br
        +map()
        br
        br
        br
        +message-box('cyan', 'Sarah Brown')
        br
        br
        br
        +datepicker()
        br
        br
        br
        +video("https://youtu.be/UBS52IgUDZ0?list=RDUBS52IgUDZ0")
        br
        br
        br

