include ../../components/button/button
include ../../components/arrow-button/arrow-buttons
include ../../components/donut-chart/donut-chart
include ../../components/message-form/message-form

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UI-Kit
    body
        +button('standard', 'red', 'button')
        br
        +button('small', 'cyan', 'button')
        br
        +arrow-buttons('disabled')
        br
        +arrow-buttons
        br
        +donut-chart(85)
        +donut-chart(25)
        +donut-chart(50)
        +donut-chart([100, 75, 40, 10], ['#e5e5e5', '#4eb7a8', '#e75735', '#747474'], 10)
        br
        .slider_with-tooltip
        br
        br
        br
        .slider_with-label
        br
        br
        br
        .stages
        br
        br
        br
        +message-form
        br
        br
        br
        br
        br
