include ../../components/button/button
include ../../components/arrow-button/arrow-buttons

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title UI-Kit
    body
        +button('standard', 'red', 'button')
        br
        +button('small', 'cyan', 'button')
        br
        +arrow-buttons('disabled')
        br
        +arrow-buttons
