include ../../components/button/button
include ../../components/arrow-buttons/arrow-buttons
include ../../components/donut-chart/donut-chart
include ../../components/message-form/message-form
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search-bar/search-bar
include ../../components/dropdown/dpordown
include ../../components/user-profile/user-profile
include ../../components/billboard/billboard
include ../../components/message-box/message-box
include ../../components/map/map
include ../../components/datepicker/datepicker
include ../../components/video/video

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="UI-Kit (set of UI elements)")
        title UI-Kit
    body
        header.header
            .header__name UI-Kit
            a(class="header__link" href="./info.html" target="_blank") Go to website
        section.buttons
            .block-sign STANDARD BUTTONS
            .buttons__container
                +button('small', 'cyan', 'button')
                +button('standard', 'cyan', 'button')
                +button('standard', 'red', 'button')
                +button('small', 'red', 'button')
        section.arrows
            .block-sign ARROW BUTTONS
            .arrows__container
                +arrow-buttons
                +arrow-buttons('disabled')
                +arrow-buttons
        section.charts
            .block-sign PERCENTAGES / PIE CHARTS
            .charts__container
                +donut-chart(0)
                +donut-chart(38)
                +donut-chart(62)
                +donut-chart(89)
                +donut-chart([100, 75, 40, 10], ['#e5e5e5', '#4eb7a8', '#e75735', '#747474'], 10)

        section.sliders
            .block-sign SLIDERS
            .sliders__container
                .slider_with-tooltip
                .slider_with-label

        section.stages-box
            .block-sign STAGES
            .stages-box__container
                .stages

        section.form-elements
            .block-sign FORM ELEMENTS
            .form-elements__container
                +message-form
                .form-elements__toggles-container
                    .toggles
                        .block-sign TOGGLES
                        .toggles__container
                            +toggle(false)
                            +toggle(true)
                    .tick-boxes
                        .block-sign TICK BOXES
                        .tick-boxes__container
                            +tick-box(true)
                            +tick-box(false)

        section.search-dropdown-profiles
            .search-dropdown
                .block-sign SEARCH / DROP DOWN
                .search-dropdown__container
                    +search-bar
                    +search-bar
                    - var dropdownParameters = ['website', 'design', 'something']
                    +dropdown(dropdownParameters)
            .profile
                .block-sign USER PROFILE
                .profile__container
                    +user-profile('John Smith', 'ux designer', 'orange-red')
                    +user-profile('Sarah Brown', 'developer', 'cyan')

        section.news-events
            .block-sign NEWS & EVENTS
            .news-events__container
                    +billboard('news', 'It’s all going\n' +
                    'downhill', 'new', 'Lorem ipsum dolor sit amet' +
                    ', consectetur adipiscing elit. Sed condimentum aliquet venenatis.\n' +
                    ' Etiam a nisi nunc, a tincidunt eros.', 'orange-red', '24', 'august', '2013')

                    +billboard('events', 'this is the title', 'event', 'Lorem ipsum dolor sit amet' +
                    ', consectetur adipiscing elit.', 'cyan', '24', 'Aug')

        section.location
            .block-sign LOCATION
            .location__container
                +map()

        section.calendar-messaging
            .calendar
                .block-sign CALENDAR
                .calendar__container
                    +datepicker()
            .messaging
                .block-sign MESSAGING
                .messaging__container
                    +message-box('cyan', 'Sarah Brown')

        section.video-box
            .block-sign VIDEO
            .video-box__container
                +video("https://www.youtube.com/embed/pzbqEG_chrs")
