include components/block-sign/block-sign
include ../../components/button/button
include ../../components/arrow-buttons/arrow-buttons
include ../../components/donut-chart/donut-chart
include ../../components/slider/slider
include ../../components/message-form/message-form
include ../../components/toggle/toggle
include ../../components/tick-box/tick-box
include ../../components/search-bar/search-bar
include ../../components/dropdown/dpordown
include ../../components/user-profile/user-profile
include ../../components/billboard/billboard
include ../../components/message-box/message-box
include ../../components/map/map
include ../../components/datepicker/datepicker
include ../../components/video/video

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="UI-Kit (set of UI elements)")
    title UI-Kit
  body
    header.header
      .header__name UI-Kit
      a(class="header__link" href="./info.html" target="_blank") Go to website
    section.buttons
      +block-sign('standard buttons', 'buttons')
      .buttons__container
        +button({
          size:'small',
          color: 'cyan',
          content: 'button'
        })
        +button({
          size: 'standard',
          color: 'cyan',
          content: 'button'
        })
        +button({
          size: 'standard',
          color: 'orange-red',
          content: 'button'
        })
        +button({
          size: 'small',
          color: 'orange-red',
          content: 'button'
        })

    section.arrows
      +block-sign('arrow buttons', 'arrows')
      .arrows__container
        +arrow-buttons
        +arrow-buttons('disabled')
        +arrow-buttons
    section.charts
      +block-sign('percentages / pie charts', 'charts')
      .charts__container
        +donut-chart({ percentage: 0 })
        +donut-chart({ percentage: 38 })
        +donut-chart({ percentage: 62 })
        +donut-chart({ percentage: 89 })
        +donut-chart({
          percentage: [100, 75, 40, 10],
          color: ['#e5e5e5', '#4eb7a8', '#e75735', '#747474'],
          thickness: 10
        })

    section.sliders
      +block-sign('sliders', 'sliders')
      .sliders__container
        +slider({value: 40}, {})
        +slider({
          value: 75,
          step: 25,
          type: 'labels'
        }, {
          slider: 'gray',
          range: 'green',
          handle: 'green'
        })

    section.stages-box
      +block-sign('stages', 'stages-box')
      .stages-box__container
        +slider({
          min: 1,
          max: 5,
          value: 3,
          type: 'stages'
        }, {
          slider: 'gray',
          range: 'orange-red'
        })

    section.form-elements
      +block-sign('form elements', 'form-elements')
      .form-elements__container
        +message-form
        .form-elements__toggles-container
          section.toggles
            +block-sign('toggles', 'toggles')
            .toggles__container
              +toggle(false)
              +toggle(true)
          section.tick-boxes
            +block-sign('tick boxes', 'tick-boxes')
            .tick-boxes__container
              +tick-box(true)
              +tick-box(false)

    section.search-dropdown-profiles
      section.search-dropdown
        +block-sign('search / drop down', 'search-dropdown')
        .search-dropdown__container
          +search-bar
          +search-bar
          - var dropdownParameters = ['website', 'design', 'something']
          +dropdown(dropdownParameters)
      section.profile
        +block-sign('user profile', 'profile')
        .profile__container
          +user-profile({
            name: 'John Smith',
            job: 'ux designer',
            theme: 'orange-red'
          })
          +user-profile({
            name: 'Sarah Brown',
            job: 'developer',
            theme: 'cyan'
          })

    section.news-events
      +block-sign('news & events', 'news-events')
      .news-events__container
        +billboard({
          type: 'news',
          title: 'It’s all going\ndownhill',
          imageName: 'new',
          content: 'Lorem ipsum dolor sit amet, ' +
            'consectetur adipiscing elit. Sed condimentum aliquet venenatis.\n' +
            ' Etiam a nisi nunc, a tincidunt eros.',
          backgroundColor: 'orange-red',
          day: '24',
          month: 'august',
          year: '2013'
        })

        +billboard({
          type: 'events',
          title: 'this is the title',
          imageName: 'event',
          content: 'Lorem ipsum dolor sit amet' +
            ', consectetur adipiscing elit.',
          backgroundColor: 'cyan',
          day: '24',
          month: 'Aug'
        })

    section.location
      +block-sign('location', 'location')
      .location__container
        +map([37.791097, -122.415073], 14,
          {
            sign: 'Meet us!',
            address: '1259  CALIFORNIA ST San Francisco, CA'
          }
        )

    section.calendar-messaging
      section.calendar
        +block-sign('calendar', 'calendar')
        .calendar__container
          +datepicker()
      section.messaging
        +block-sign('messaging', 'messaging')
        .messaging__container
          +message-box({
            theme: 'cyan',
            name: 'Sarah Brown'
          })

    section.video-box
      +block-sign('video', 'video-box')
      .video-box__container
        +video("https://www.youtube.com/embed/pzbqEG_chrs")
