.message-form {
  position: relative;

  &__data-field {
    &_type {
      &_input {
        margin-bottom: 0.75rem;
        display: flex;
      }
    }
  }

  &__tick-boxes {
    float: left;
  }

  &__tick-item {
    align-items: center;
    display: flex;
    margin-top: 0.3125rem;
  }

  &__tick-sign {
    margin-left: 0.625rem;
  }

  &__button {
    float: right;
    letter-spacing: 0.03125rem;
    margin-top: 0.6rem;
  }

  &__tooltip {
    border-radius: 0.25rem;
    color: $secondary-white-main;
    display: inline-block;
    font-family: Lato, Arial, sans-serif;
    font-size: 0.625rem;
    letter-spacing: 0.05rem;
    line-height: 1.625rem;
    margin: 0.05rem 0.1rem 0 0.5rem;
    padding-top: 0.09375rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    width: 25%;
    flex-shrink: 0;

    &::after {
      border-style: solid;
      border-width: 0.25rem;
      content: '';
      margin-top: -0.25rem;
      position: absolute;
      right: 100%;
      top: 50%;
    }

    &_color {
      &_orange-red {
        background-color: $primary-orange-red-main;

        &::after {
          border-color: transparent $primary-orange-red-main transparent transparent;
        }
      }

      &_cyan {
        background-color: $primary-cyan-main;

        &::after {
          border-color: transparent $primary-cyan-main transparent transparent;
        }
      }
    }

    &_invisible {
      display: none;
    }
  }
}
