include ../text-field/text-field
include ../tick-box/tick-box
include ../button/button

mixin message-form(extraOptions)
  form.message-form.js-message-form(method="post")
    .message-form__data-field.message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'text',
        name: 'name',
        placeholder: 'Your Name',
        blockName: 'messageForm',
      })

      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_cyan", "message-form__tooltip_invisible"]
      ) Thanks!
      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_orange-red", "message-form__tooltip_invisible"]
      ) Error

    .message-form__data-field.message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'email',
        name: 'email',
        placeholder: 'Your Email',
        blockName: 'messageForm',
      })

      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_cyan", "message-form__tooltip_invisible"]
      ) Thanks!
      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_orange-red", "message-form__tooltip_invisible"]
      ) Error

    .message-form__data-field.message-form__data-field_type_textarea
      +text-field({
        tagName: 'textarea',
        name: 'message',
        placeholder: 'Your Message',
        blockName: 'messageForm',
      })

    if extraOptions
      .message-form__tick-boxes
        each options in extraOptions
          - const { isChecked, name, text } = options;

          .message-form__tick-item
            +tick-box(isChecked, { name, id: name })
            label.message-form__tick-sign(for=`tick-box-${name}`)= text

    .message-form__button.js-message-form__button
      +button({
        size: 'standard',
        color: 'cyan',
        content: 'submit',
      })
      