include ../text-field/text-field
include ../tick-box/tick-box
include ../button/button

mixin message-form(extraOptions)
  form(class="message-form js-message-form" method="post")
    .message-form__data-field.message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'text',
        name: 'name',
        placeholder: 'Your Name',
        blockName: 'message-form'
      })

    .message-form__data-field.message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'email',
        name: 'email',
        placeholder: 'Your Email',
        blockName: 'message-form'
      })

    .message-form__data-field.message-form__data-field_type_textarea
      +text-field({
        tagName: 'textarea',
        name: 'message',
        placeholder: 'Your Message',
        blockName: 'message-form'
      })

    if extraOptions
      .message-form__tick-boxes
        each options in extraOptions
          - var { isChecked, name, text } = options;

          .message-form__tick-item
            +tick-box(isChecked, {name, id: name})
            label.message-form__tick-sign(for=`tick-box-${name}`)= text

    .message-form__button
      +button({
        size: 'standard',
        color: 'cyan',
        content: 'submit'
      })
