include ../text-field/text-field
include ../tick-box/tick-box
include ../button/button

mixin message-form(tickBoxes)
  form.message-form.js-message-form(method="post")
    .message-form__input.js-message-form__input
      +text-field({
        name: 'name',
        placeholder: 'Your Name',
        blockName: 'messageForm',
      })

      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_cyan", "message-form__tooltip_invisible"]
      ) Thanks!
      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_orange-red", "message-form__tooltip_invisible"]
      ) Error

    .message-form__input.js-message-form__input
      +text-field({
        type: 'email',
        name: 'email',
        placeholder: 'Your Email',
        blockName: 'messageForm',
      })

      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_cyan", "message-form__tooltip_invisible"]
      ) Thanks!
      .message-form__tooltip.js-message-form__tooltip(
        class=["message-form__tooltip_color_orange-red", "message-form__tooltip_invisible"]
      ) Error

    .message-form__textarea
      +text-field({
        tagName: 'textarea',
        name: 'message',
        placeholder: 'Your Message',
        blockName: 'messageForm',
      })

    if tickBoxes
      .message-form__tick-boxes
        each options in tickBoxes
          - const { isChecked, name, text } = options;

          .message-form__tick-item
            +tick-box(isChecked, { name, id: name })
            
            label.message-form__tick-sign(for=`tick-box-${name}`)= text

    .message-form__button.js-message-form__button
      +button({ content: 'submit' })
