.message-form {
  position: relative;

  &__input {
    margin-bottom: 0.75rem;
    display: flex;
  }

  &__tooltip {
    width: 25%;
    border-radius: 0.25rem;
    display: inline-block;
    font: 900 0.625rem Lato, Arial, sans-serif;
    letter-spacing: 0.05rem;
    line-height: 1.625rem;
    text-align: center;
    color: $base-secondary-main;
    margin: 0.05rem 0.1rem 0 0.5rem;
    padding-top: 0.09375rem;
    position: relative;
    text-transform: uppercase;
    user-select: none;
    flex-shrink: 0;

    &::after {
      content: '';
      border: 0.25rem solid;
      margin-top: -0.25rem;
      position: absolute;
      right: 100%;
      top: 50%;
    }

    &_color {
      &_primary {
        background-color: $theme-primary-main;

        &::after {
          border-color: transparent $theme-primary-main transparent transparent;
        }
      }

      &_secondary {
        background-color: $theme-secondary-main;

        &::after {
          border-color: transparent $theme-secondary-main transparent transparent;
        }
      }
    }

    &_invisible {
      display: none;
    }
  }

  &__tick-boxes {
    float: left;
  }

  &__tick-item {
    display: flex;
    align-items: center;
    margin-top: 0.3125rem;
  }

  &__tick-sign {
    margin-left: 0.625rem;
  }

  &__button {
    float: right;
    letter-spacing: 0.03125rem;
    margin-top: 0.6rem;
  }
}
