@import '../text-field/text-field';
@import '../tick-box/tick-box';
@import '../button/button';
@import '../../../styles/variables/colors';

.message-form {
  width: 18rem;

  &__data-field {
    &_type {
      &_input {
        margin-bottom: 0.75rem;
      }

      &_textarea {
      }
    }
  }

  &__tick-boxes {
    float: left;
  }

  &__tick-item {
    display: flex;
    align-items: center;
    margin-top: 0.3125rem;
  }

  &__tick-sign {
    margin-left: 0.625rem;
  }

  &__button {
    float: right;
    margin-top: 0.6875rem;
    letter-spacing: 0.03125rem;
  }

  &__tooltip {
    position: absolute;
    display: inline-block;
    margin-left: 0.4375rem;
    width: 4.375rem;
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1.625rem;
    letter-spacing: 0.03125rem;
    color: #ffffff;
    text-align: center;
    border-radius: 0.25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 0.09375rem;

    &::after {
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      border-width: 0.25rem;
      margin-top: -0.25rem;
      border-style: solid;
    }

    &_color {
      &_orange-red {
        background-color: $orange-red;

        &::after {
          border-color: transparent $orange-red transparent transparent;
        }
      }

      &_cyan {
        background-color: $cyan;

        &::after {
          border-color: transparent $cyan transparent transparent;
        }
      }
    }
  }
}
