.header__right {
  height: 100%;
  line-height: 130px;
  width: calc(100% - 230px);
  background-color: #e5e5e5;
  min-width: 550px;
  display: inline-block;
  text-align: start;
  float: right;
  padding-left: 30px;
  box-sizing: border-box;
}
