include ../navigation/navigation

mixin header
  header.header
    .header__left.header__left_color_red
      a(class="header__back-to-ui-kit" href="./index.html") BACK TO UI-KIT
      .header__navigation NAVIGATION
        +navigation({size: "hundred-percents"})
    .header__right
      .header__name UI Design Courses Kazan


