.billboard__date_type_event {
  font-family: Lato;
  line-height: 60px;
  font-weight: 300;
  margin: 2px 0 0 -2px;
}

.billboard__date_type_event span:nth-child(1) {
  font-size: 73px;
  letter-spacing: -2.92px;
}

.billboard__date_type_event span:nth-child(2) {
  font-size: 30px;
}
