include ../../ui-kit-components/button/button
include ../block-sign/block-sign

mixin buttons(optionRows)
  .buttons
    +block-sign('standard buttons')

    .buttons__rows-container
      each row in optionRows
        .buttons__container
          each options in row
            .buttons__button
              +button(options)
