.buttons {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 74px;
    flex-direction: row;

    .button__back {
      &:nth-child(1), &:nth-child(4) {
        margin-left: 1px;
      }
    }
  }
}
