include ../../ui-kit-components/button/button
include ../block-sign/block-sign

mixin buttons(itemRows)
  .buttons
    +block-sign("standard buttons", "buttons")
    .buttons__container-rows
      each row in itemRows
        .buttons__container
          each item in row
            .buttons__button
              +button(item)
