include ../../ui-kit-components/button/button
include ../block-sign/block-sign

mixin buttons(items)
  .buttons
    +block-sign('standard buttons', 'buttons')
    .buttons__container
      each item in items
        +button(item)

