include ../../ui-kit-components/user-profile/user-profile
include ../block-sign/block-sign

mixin profiles(profileOptions)
  .profiles
    +block-sign("user profile", "profile")

    each options in profileOptions
      .profiles__container
        +user-profile(options)
