include ../../ui-kit-components/user-profile/user-profile
include ../block-sign/block-sign

mixin profiles(profileOptions)
  .profiles
    +block-sign("user profile", "profile")

    .profiles__container
      each options in profileOptions
        +user-profile(options)
