include ../../ui-kit-components/slider/slider
include ../block-sign/block-sign

mixin stages-box(itemOptions)
  .stages-box
    +block-sign('stages')

    .stages-box__container
      each options in itemOptions
        +slider(options)
