include ../../ui-kit-components/slider/slider
include ../block-sign/block-sign

mixin stages-box(items)
  .stages-box
    +block-sign('stages', 'stages-box')

    .stages-box__container
      each optionsItem in items
        +slider(optionsItem)
