.button {
  text-transform: uppercase;
  font-family: "Lato - Black";
  font-size: 12px;
  //line-height: 42px;
  letter-spacing: 0.6px;
  transform: translate(0, -9%);
  border-radius: 4px;
  cursor: pointer;
  outline: 0;
  transition: background 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  //makes ripple-effect not getting out of the button:
  overflow: hidden;
}

.button:active {
  transform: translate(0, 0);
}