block include
  include ../components/ui-kit-demo-components/block-sign/block-sign
  include ../components/ui-kit-demo-components/header/header
  include ../components/ui-kit-demo-components/buttons/buttons
  include ../components/ui-kit-demo-components/arrows/arrows
  include ../components/ui-kit-demo-components/charts/charts
  include ../components/ui-kit-demo-components/sliders/sliders
  include ../components/ui-kit-demo-components/stages-box/stages-box
  include ../components/ui-kit-demo-components/form-elements/form-elements
  include ../components/ui-kit-demo-components/search-dropdown-profiles/search-dropdown-profiles
  include ../components/ui-kit-demo-components/news-events/news-events
  include ../components/ui-kit-demo-components/location/location
  include ../components/ui-kit-demo-components/calendar-messaging/calendar-messaging
  include ../components/ui-kit-demo-components/video-box/video-box

doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

      meta(name="description" content="ui-kit-demo (set of UI elements)")
      title UI-Kit
  body
    block content
