extends ./page-template

block include
  include ../components/site-components/header/header
  include ../components/site-components/footer/footer

  block page-components

block meta-information
  meta(name="keywords", content="ui, design, school, frontend")
  meta(name="description", content="UI Masters - ui design school, Kazan")

block content
  .page-wrapper
    +header

    main.page-content
      block page-content

    .page-footer
      +footer
