@import '../../styles/ripple-effect/ripple-effect';
@import '../../styles/mixins/slide-animation';

.arrow-buttons {
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: space-between;

  &:hover {
    .ripple  .arrow-buttons__right-arrow {
      animation: slide-right 1s ease-in-out infinite;
    }

    .ripple .arrow-buttons__left-arrow {
      animation: slide-left 1s ease-in-out infinite;
    }
  }

  &__arrow-container {
    width: 45px;
    height: 45px;
    border: 3px solid #4eb7a8;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    //for ripple-effect:
    overflow: hidden;
    position: relative;

    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;

    &:hover {
      .arrow-buttons__left-arrow, .arrow-buttons__right-arrow{
        border-color: #ffffff;
      }
      background-color: #4eb7a8;
    }
  }

  &__left-arrow, &__right-arrow{
    width: 13.5px;
    height: 13.5px;
    margin: 13.5px auto;
  }

  &__right-arrow {
    border-top: 3.5px solid #4eb7a8;
    border-right: 3.5px solid #4eb7a8;
    margin-right: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__left-arrow {
    border-left: 3.5px solid #4eb7a8;
    border-bottom: 3.5px solid #4eb7a8;
    margin-left: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &_disabled {
    .arrow-buttons__left-arrow, .arrow-buttons__right-arrow{
      border-color: #ffffff;
      animation: none;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    background-color: #e5e5e5;
    border-color: #e5e5e5;

    &:hover {
      background-color: #777777;
      border-color: #777777;;
    }

    -webkit-transition: background-color 0.5s, border-color 0.5s;
    -moz-transition: background-color 0.5s, border-color 0.5s;
    -ms-transition: background-color 0.5s, border-color 0.5s;
    -o-transition: background-color 0.5s, border-color 0.5s;
    transition: background-color 0.5s, border-color 0.5s;
  }
}

