@import '../user-photo/user-photo';
@import '../../styles/variables/colors';
@import '../../styles/functions/functions';

.user-profile {
  position: relative;
  width: 300px;

  &__tooltip {
    width: 162px;
    height: 93px;
    border-radius: 8px;
    position: absolute;
    top: 0.5px;
    left: 105px;
    text-align: center;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      right: calc(100% - 5.5px);
      top: calc(50% + 3px);
      border-width: 6px;
      margin-top: -6px;
      border-radius: 2px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &_color {
      &_cyan {
        background-color: $cyan;

        &::after {
          background-color: $cyan;
        }
      }

      &_grey {
        background-color: $light-gray;

        &::after {
          background-color: $light-gray;
        }
      }
    }
  }

  &__name {
    font-size: countRem(18);
    margin-top: 12px;
    margin-bottom: 4px;
    display: block;
    line-height: 18px;

    &_color {
      &_orange-red {
        color: $orange-red;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__job {
    text-transform: uppercase;
    color: $dark-gray;
    font-size: countRem(11);
    letter-spacing: 0.55px;
    display: block;
    line-height: 11px;

    &_color {
      &_black {
        color: $dark-gray;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__links {
    display: inline-block;
    margin: 5px 2.7px;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::after {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }

    &_theme {
      &_cyan {
        background-color: rgba(20, 202, 130, 0);
        -webkit-transition: background-color 1s;
        -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -o-transition: background-color 1s;
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url("../../img/links/cyan-theme/FB_copy.png");
        }

        &:nth-of-type(2) {
          background-image: url("../../img/links/cyan-theme/Twitter_copy.png");
        }

        &:nth-of-type(3) {
          background-image: url("../../img/links/cyan-theme/Dribbble_copy.png");
        }

        &:hover {
          background-color: rgba(20, 202, 130, 1);
        }

        &:active {
          background-color: rgba(20, 202, 130, 0);
        }
      }

      &_orange-red {
        background-color: rgba(216, 187, 71, 0);
        -webkit-transition: background-color 1s;
        -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -o-transition: background-color 1s;
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url(../../img/links/orange-red-theme/FB.png);
        }

        &:nth-of-type(2) {
          background-image: url(../../img/links/orange-red-theme/Twitter.png);
        }

        &:nth-of-type(3) {
          background-image: url(../../img/links/orange-red-theme/Dribbble.png);
        }

        &:hover {
          background-color: rgba(196, 186, 186, 0.5);
        }

        &:active {
          background-color: rgba(196, 186, 186, 0);
        }
      }
    }
  }
}
