mixin arrow-buttons(disabled = false, { width } = {})
  -
    const modifiers = {
      disabled: 'arrow-buttons__button_disabled',
      width: {
        greatest: 'arrow-buttons_width_greatest',
      }, 
    };

  .arrow-buttons.js-arrow-buttons(class=modifiers.width[width])
    - const containerClassName = disabled ? modifiers.disabled : 'js-ripple';

    button.arrow-buttons__button(class=containerClassName)
      .arrow-buttons__left-arrow
    button.arrow-buttons__button(class=containerClassName)
      .arrow-buttons__right-arrow
