mixin arrow-buttons(disabled = false, { width = 'standard' } = {})
  -
    const modifiers = {
      disabled: 'arrow-buttons__arrow-container_disabled',
      width: {
        standard: 'arrow-buttons_width_standard',
        greatest: 'arrow-buttons_width_greatest',
      }, 
    };

  .arrow-buttons.js-arrow-buttons(class=modifiers.width[width])
    - const containerClassName = disabled ? modifiers.disabled : 'js-ripple';

    button.arrow-buttons__arrow-container(class=containerClassName)
      .arrow-buttons__left-arrow
    button.arrow-buttons__arrow-container(class=containerClassName)
      .arrow-buttons__right-arrow
