mixin arrow-buttons(disabled = false, { width = 'standard' } = {})
  - const containerClassName = disabled ? 'arrow-buttons__arrow-container_disabled' : 'js-ripple';

  .arrow-buttons.js-arrow-buttons(class=`arrow-buttons_width_${width}`)
    .arrow-buttons__arrow-container(class=containerClassName)
      .arrow-buttons__left-arrow
    .arrow-buttons__arrow-container(class=containerClassName)
      .arrow-buttons__right-arrow
