@import '../../../vendor/ripple-effect/ripple-effect';
@import '../../../styles/mixins/slide-animation';
@import '../../../styles/variables/colors';

.arrow-buttons {
  display: flex;
  height: 3.125rem;
  justify-content: space-between;

  &_width {
    &_standard {
      width: 7.8125rem;
    }

    &_100-percents {
      width: 100%;
    }
  }

  &:hover {
    .ripple .arrow-buttons__right-arrow {
      animation: slide-right 1s ease-in-out infinite;
    }

    .ripple .arrow-buttons__left-arrow {
      animation: slide-left 1s ease-in-out infinite;
    }
  }

  &__arrow-container {
    border: 0.1875rem solid $cyan;
    border-radius: 50%;
    height: 2.8125rem;

    //for ripple-effect:
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s;
    width: 2.8125rem;

    &:hover {
      background-color: $cyan;

      .arrow-buttons__left-arrow, .arrow-buttons__right-arrow {
        border-color: $white;
      }
    }

    &_disabled {
      background-color: $light-gray;
      border-color: $light-gray;
      transition: background-color 0.5s, border-color 0.5s;

      .arrow-buttons__left-arrow, .arrow-buttons__right-arrow {
        animation: none;
        border-color: $white;
        transform: rotate(45deg);
      }

      &:hover {
        background-color: $dark-gray;
        border-color: $dark-gray;
      }
    }
  }

  &__left-arrow, &__right-arrow {
    height: 0.84375rem;
    margin: 0.84375rem auto;
    width: 0.84375rem;
  }

  &__right-arrow {
    border-right: 0.21875rem solid $cyan;
    border-top: 0.21875rem solid $cyan;
    margin-right: 1.125rem;
    transform: rotate(45deg);
  }

  &__left-arrow {
    border-bottom: 0.21875rem solid $cyan;
    border-left: 0.21875rem solid $cyan;
    margin-left: 1.125rem;
    transform: rotate(45deg);
  }
}
