.arrow-buttons {
  display: flex;
  height: 3.125rem;
  justify-content: space-between;

  &_width {
    &_standard {
      width: 7.8125rem;
    }

    &_greatest {
      width: 100%;
    }
  }

  &:hover {
    .ripple .arrow-buttons__right-arrow {
      animation: slide-right 1s ease-in-out infinite;
    }

    .ripple .arrow-buttons__left-arrow {
      animation: slide-left 1s ease-in-out infinite;
    }
  }

  &__arrow-container {
    @include outline;

    border: 0.1875rem solid $theme-primary-main;
    border-radius: 50%;
    height: 3.2rem;
    cursor: pointer;

    //for ripple-effect:
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s;
    width: 3.2rem;

    &:hover {
      background-color: $theme-primary-main;

      .arrow-buttons__left-arrow, .arrow-buttons__right-arrow {
        border-color: $base-secondary-main;
      }
    }

    &_disabled {
      background-color: $base-primary-light;
      border-color: $base-primary-light;
      cursor: default;

      .arrow-buttons__left-arrow, .arrow-buttons__right-arrow {
        animation: none;
        border-color: $base-secondary-main;
        transform: rotate(45deg);
      }

      &:hover {
        background-color: $base-primary-light;
        border-color: $base-primary-light;
      }
    }
  }

  &__left-arrow, &__right-arrow {
    height: 0.84375rem;
    margin: 0.84375rem auto;
    width: 0.84375rem;
    transform: rotate(45deg);
  }

  &__right-arrow {
    border-right: 0.21875rem solid $theme-primary-main;
    border-top: 0.21875rem solid $theme-primary-main;
    margin-right: 0.75rem;
  }

  &__left-arrow {
    border-bottom: 0.21875rem solid $theme-primary-main;
    border-left: 0.21875rem solid $theme-primary-main;
    margin-left: 0.75rem;
  }
}
