include ../../ui-kit-components/donut-chart/donut-chart
include ../block-sign/block-sign

mixin charts(items)
  .charts
    +block-sign('percentages / pie chart', 'charts')

    .charts__container
      each item in items
        .charts__chart
          +donut-chart(item)
