.charts {
  &__container {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.75rem;
    position: relative;
    right: 0.9375rem;
  }

  &__chart {
    &:nth-child(1) {
      margin-right: -0.625rem;
    }

    &:nth-child(2) {
      margin-right: 0.6875rem;
    }

    &:nth-child(3) {
      margin-right: 0.625rem;
    }

    &:nth-child(4) {
      margin-right: 0.4375rem;
    }
  }
}
