.pulse {
  background-color: aqua;
  border-radius: 50%;
  animation: pulse 0.7s ease-out;
  transform: scale(0);
  position: absolute;
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0;
  }
}