.help-form {
  &__header {
    @include outline;

    border: 0;
    background-color: $text-primary-main;
    border-radius: 0.2rem;
    color: $base-secondary-main;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3.125rem;
    line-height: 3.125rem;
    float: right;
    text-align: center;
    vertical-align: center;
    width: 12rem;
  }

  &__arrow {    
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 0.2rem 0.2rem 0 0;
    border-color: $base-secondary-main;
    transform: rotate(-45deg);
    margin-right: 1rem;
    transition: transform 0.5s;

    &_direction {
      &_down {
        transform: rotate(135deg) translate(-0.3rem, 0.3rem);
      }
    }
  }

  &__message-box {
    clear: both;

    &_invisible {
      display: none;
    }
  }
}
