include ../../ui-kit-components/message-box/message-box

mixin help-form({ title = "Message us", theme = "orange-red" , consultant, defaultMessage } = {})
  -
    consultant = consultant || "Sarah Brown"; 
    defaultMessage = defaultMessage || "Hey! Can I help you?";
  
  .help-form.js-help-form
    .help-form__header.js-help-form__header
      .help-form__arrow.js-help-form__arrow
      span.help-form__title= title
    .help-form__message-box.js-help-form__message-box
      +message-box({
        theme,
        defaultMessage,
        name: consultant,
      })
