.map {
  &__map-container {
    height: 12.6875rem;
  }

  &__footer {
    background-color: $orange-red;
    height: 4.3125rem;

    @media screen and (max-width: 400px) {
      height: 6rem;
    }
  }

  &__footer-sign {
    color: $white;
    float: left;
    font-size: 1.875rem;
    line-height: 4.3125rem;
    padding-left: 1.6875rem;
    padding-right: 1.125rem;
    width: 7.5rem;

    @media screen and (max-width: 600px) {
      padding-left: 0.8rem;
      padding-right: 0.6rem;
    }

    @media screen and (max-width: 400px) {
      line-height: 1.4rem;
      padding: 1rem 0.6rem 0.7rem 0.8rem;
    }
  }

  &__footer-address {
    color: $white;
    float: left;
    font-size: 0.8125rem;
    height: 1.625rem;
    letter-spacing: 0.039375rem;
    padding-top: 1.2rem;
    text-transform: uppercase;
    width: 9.0625rem;

    @media screen and (max-width: 400px) {
      float: none;
      padding: 0.8rem;
    }
  }

  &__icon {
    background: no-repeat url('icons/map-marker.svg');
    float: right;
    height: 2rem;
    margin: 1.375rem 1.2rem 1.4375rem 0;
    width: 1.5rem;

    @media screen and (max-width: 500px) {
      display: none;
    }

    @media screen and (max-width: 400px) {
      display: block;
    }
  }

  &__button {
    background: no-repeat url('icons/map-target.svg');
    cursor: pointer;
    float: right;
    height: 2rem;
    margin: 1.3125rem 1rem 1.375rem 0;
    width: 2rem;
  }

  &__icon, &__button {
    @media screen and (max-width: 400px) {
      bottom: 2.5rem;
      margin: 1rem;
      position: relative;
    }
  }

  &__map-marker {
    background-color: $orange-red;
    border: 0.0625rem solid $orange-red;
    border-radius: 50%;
    display: block;
    height: 2.9375rem;
    left: -1.5rem;
    position: relative;
    top: -1.5rem;
    width: 2.5625rem;

    &::after {
      border: 1.3625rem solid transparent;
      border-radius: 0 0 0.625rem 0.625rem;
      border-top: 2.5rem solid $orange-red;
      bottom: -2.78125rem;
      content: '';
      height: 0;
      left: -0.09375rem;
      position: absolute;
      width: 0;
    }
  }

  &__map-marker-circle {
    background-color: $white;
    border-radius: 50%;
    height: 1.0625rem;
    left: 0.75rem;
    position: absolute;
    top: 30%;
    width: 1.0625rem;
    z-index: 1;
  }
}
