include ../../ui-kit-components/arrow-button/arrow-button
include ../block-sign/block-sign

mixin arrows(items)
  .arrows
    +block-sign('arrow buttons')

    .arrows__container
      each item in items
        - const { disabled } = item;
        
        .arrows__button-set
          +arrow-button({ direction: 'left', disabled })
          +arrow-button({ direction: 'right', disabled })
