.arrows {
  &__container {
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2.1875rem;
    position: relative;
    left: 0.25rem;
  }
}
