.arrows {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    left: 0.25rem;
    margin-top: 0.6875rem;
    width: 98%;
  }

  &__button-set {
    margin-top: 1.5rem;
  }
}
