.contact-link {
  display: inline;

  &__link {
    text-decoration: none;

    &:hover {
      color: $primary-orange-red-dark;
    }

    &_color {
      &_dark-gray {
        color: $secondary-gray-dark;
      }

      &_white {
        color: $secondary-white-rose;
      }
    }
  }

}
