.user-photo__tooltip .user-photo__links {
  display: inline-block;
  margin: 5px 2.7px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.user-photo__tooltip .user-photo__links::after {
  content: "";
  width: 30px;
  height: 30px;
  //background-color: firebrick;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
