.menu__pages {
  width: 100%;
  height: 200px;
  //margin-top: 30px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.menu__pages a {
  color: black;
}

.menu__pages a:active {
  color: #8e8d8d;
}
