@import '../text-field/text-field';
@import '../../../styles/variables/colors';

.search-bar {
  background-color: $light-gray;
  border-radius: 0.25rem;
  height: 1.75rem;
  width: 100%;

  &__button {
    background: $orange-red url('search-icon.svg') no-repeat center;
    border: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    float: right;
    height: 1.75rem;
    outline: none;
    width: 2.0625rem;

    &:hover {
      box-shadow: 0 0 0.3125rem #000;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__input {
    float: left;
    width: calc(100% - 2.0625rem);
  }
}
