include ../text-field/text-field

mixin search-bar({ state, placeholder = 'Search' } = {})
  .search-bar.js-search-bar(data-state=state ? state : "normal")
    form.search-bar__form
      .search-bar__input
        +text-field({
          tagName: 'input',
          type: 'search',
          name: 'search',
          blockName: 'searchBar',
          placeholder,
        })
      button.search-bar__button(type="submit")
