.user-photo__tooltip {
  width: 170px;
  height: 93px;
  border-radius: 8px;
  position: absolute;
  top: 0.5px;
  left: 105px;
  text-align: center
}

.user-photo__tooltip::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  right: calc(100% - 5.5px);
  top: 50%;
  border-width: 6px;
  margin-top: -6px;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}