.toggles {
  width: 100%;

  @media screen and (max-width: 722px) {
    width: 8rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
    position: relative;
    right: 0.3125rem;
    width: 103%;

    @media screen and (max-width: 722px) {
      width: 100%;
    }
  }
}
