.percentages {
  font-size: 1.1rem;

  &__title {
    color: $secondary-gray-dark;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &__chart {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__sign {
    margin-left: 1.875rem;

    @media screen and (max-width: 400px) {
      margin-left: 0;
    }
  }
}
