@import './mixins/font-face';

@each $type in 'regular', 'black' {
  @include font-face('Lato', 'lato', $type);
}

@include font-face('Source Sans Pro', 'source-sans-pro', 'regular');

html {
  background-color: $white;
  color: #000;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;

  @media screen and (max-width: 722px) {
    font-size: 15px;
  }
    
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

