@import './mixins/font-face';

@each $type in 'regular', 'black', 'light' {
  @include font-face('Lato', 'lato', $type);
}

@include font-face('Source Sans Pro', 'source-sans-pro', 'regular');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: $secondary-white-main;
  color: #000;
  font: normal normal 16px Lato, Arial, sans-serif;

  @media screen and (max-width: 722px) {
    font-size: 15px;
  }
    
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }
}
