@import './mixins/font-face';

@each $type in 'light', 'regular', 'bold', 'black' {
  @include font-face('Lato', 'lato', $type);
}

@each $type in 'light', 'regular' {
  @include font-face('Source Sans Pro', 'source-sans-pro', $type);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #000;
  font: normal normal 16px Lato, Arial, sans-serif;

  @media screen and (max-width: 722px) {
    font-size: 15px;
  }
    
  @media screen and (max-width: 400px) {
    font-size: 14px;
  }

  body {
    min-width: 320px;
    max-width: 1920px;
    margin: auto;
  }
}
