@import './mixins/font-face';

@each $type in 'regular', 'black' {
  @include font-face('Lato', 'lato', $type);
}

@include font-face('Source Sans Pro', 'source-sans-pro', 'regular');

html {
  font-size: 16px;
  font-family: Lato, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: black;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

