.page-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 8rem;
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    padding-bottom: 16rem;
  }
}

.page-content {
  color: $gray;
  margin: auto;
  padding-bottom: 3.3rem;
  padding-top: 2rem;
  width: 70%;

  @media screen and (max-width: 1094px) {
    width: 85%;
  }
}

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
