@import 'variables/colors';

.page-content {
  width: calc(100% - 230px);
  min-width: 550px;
  min-height: calc(100% - 130px);
  color: $gray;
  padding: 10px;
}

.page-wrapper {
  width: 100%;
  min-width: 780px;
  display: flex;
  flex-direction: row;
}

