@import 'variables/colors';

.page-content {
  width: calc(100% - 14.375rem);
  min-height: calc(100% - 8.125rem);
  color: $gray;
  padding: 0.625rem;
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
