.ui-kit-demo {
  &__section {
    width: 594px;
    margin: auto;

    &_type {
      &_for-buttons {
        width: 466px;
        margin: 138px auto 0;
      }

      &_for-arrows {
        width: 451px;
        margin: 162px auto 0;
      }

      &_for-charts {
        width: 600px;
        margin: 48px auto 0;
      }

      &_for-sliders {
        margin: 20px auto 0;
        position: relative;
        left: -9px;
      }

      &_for-stages-box {
        margin: 39px auto 0;
        width: 590px;
      }

      &_for-form-elements {
        margin: 68px auto 0;
      }

      &_for-search-dropdown-profiles {
        margin: 53px auto 0;
      }

      &_for-news-events {
        margin: 96.5px auto 0;
      }

      &_for-location {
        margin: 50px auto 0;
      }

      &_for-calendar-messaging {
        margin: 75px auto 0;
      }

      &_for-video-box {
        margin: 55px auto 0;
      }
    }
  }
}
