.ui-kit-demo {
  &__section {
    width: 37.125rem;
    margin: auto;

    &_type {
      &_for-buttons {
        width: 29.125rem;
        margin: 8.625rem auto 0;
      }

      &_for-arrows {
        width: 28.1875rem;
        margin: 10.125rem auto 0;
      }

      &_for-charts {
        width: 37.5rem;
        margin: 3rem auto 0;
      }

      &_for-sliders {
        margin: 1.25rem auto 0;
        position: relative;
        left: -0.5625rem;
      }

      &_for-stages-box {
        margin: 2.4375rem auto 0;
        width: 36.875rem;
      }

      &_for-form-elements {
        margin: 4.25rem auto 0;
      }

      &_for-search-dropdown-profiles {
        margin: 3.3125rem auto 0;
      }

      &_for-news-events {
        margin: 6.03125rem auto 0;
      }

      &_for-location {
        margin: 3.125rem auto 0;
      }

      &_for-calendar-messaging {
        margin: 4.6875rem auto 0;
      }

      &_for-video-box {
        margin: 3.4375rem auto 0;
      }
    }
  }
}
