.ui-kit-demo {
  &__header {
    margin-top: 1rem;
  }

  &__components {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 8.8rem auto 0;
    width: 50%;

    @media screen and (max-width: 1094px) {
      width: 70%;
    }

    @media screen and (max-width: 722px) {
      width: 90%;
    }
  }

  &__section {
    width: 100%;

    &_type {
      &_for-buttons {
        width: 72%;
      }

      &_for-arrows {
        margin-top: 8.625rem;
        width: 67%;

        @media screen and (max-width: 1094px) {
          margin-top: 2.3rem;
        }
      }

      &_for-charts {
        margin-top: 2.8rem;
      }

      &_for-sliders {
        margin-right: 15px;
        margin-top: 1.15rem;
        width: 88%;
      }

      &_for-stages-box {
        margin-top: 2.3rem;
        width: 84%;
      }

      &_for-form-elements {
        margin-top: 2.8rem;
        width: 88%;
      }

      &_for-search-dropdown-profiles {
        margin-top: 1.3125rem;
        width: 97%;
      }

      &_for-news-events {
        margin-top: 5.9rem;
        width: 91%;

        @media screen and (max-width: 1094px) {
          width: 105%;
        }

        @media screen and (max-width: 400px) {
          width: 95%;
        }
      }

      &_for-location {
        margin-top: 3rem;
        width: 88%;
      }

      &_for-calendar-messaging {
        margin-top: 0.5rem;
        width: 92%;
      }

      &_for-video-box {
        margin-top: 3.3rem;
        margin-right: 0.2rem;
        width: 88%;
      }
    }
  }
}
