extends ../../templates/page-template

block content
  .ui-kit-demo
    .ui-kit-demo__header
      +demo-page-header
    .ui-kit-demo__components-container
      section.ui-kit-demo__buttons
        -
          const buttonOptions = [
            {
              size: 'small',
              color: 'cyan',
            },
            {
              size: 'standard',
              color: 'cyan',
            },
            {
              size: 'standard',
              color: 'orangeRed',
            },
            {
              size: 'small',
              color: 'orangeRed',
            },
          ];

          const inverseButtonOptions = buttonOptions.map((options) => (
            Object.assign({}, options, { inverse: true }))
          );

        +buttons([buttonOptions, inverseButtonOptions, buttonOptions])

      section.ui-kit-demo__arrows
        +arrows([{}, { disabled: true }, {}])

      section.ui-kit-demo__charts
        +charts([
          { percentage: 0 }, { percentage: 38 }, { percentage: 62 }, { percentage: 89 },
          {
            percentage: [100, 75, 40, 10],
            color: ['#e5e5e5', '#4eb7a8', '#e75735', '#747474'],
            thickness: 10,
          },
        ])

      section.ui-kit-demo__sliders
        +sliders([
          { value: 40 },
          { 
            value: 75, 
            step: 25, 
            type: 'labels',
            sliderColor: 'gray', 
            rangeColor: 'green', 
            handleColor: 'green',
          },
        ])

      section.ui-kit-demo__stages-box
        +stages-box([
          { 
            min: 1, 
            max: 5, 
            value: 3, 
            type: 'stages',
            sliderColor: 'gray', 
            rangeColor: 'orange-red',
          },
        ])

      section.ui-kit-demo__form-elements
        +form-elements

      section.ui-kit-demo__search-dropdown-profiles
        +search-dropdown-profiles({
          profileOptions: [
            {
              name: 'John Smith',
              job: 'ux designer',
              theme: 'orangeRed',
            },
            {
              name: 'Sarah Brown',
              job: 'developer',
              theme: 'cyan',
            },
          ],
        })

      section.ui-kit-demo__news-events
        +news-events([
          {
            type: 'news',
            title: 'It’s all going\ndownhill',
            imageName: 'demo-news',
            content: 'Lorem ipsum dolor sit amet, ' +
              'consectetur adipiscing elit. Sed condimentum aliquet venenatis.\n' +
              ' Etiam a nisi nunc, a tincidunt eros.',
            backgroundColor: 'orangeRed',
            day: 24,
            month: 'august',
            year: 2013,
          },
          {
            type: 'events',
            title: 'this is the title',
            imageName: 'demo-event',
            content: 'Lorem ipsum dolor sit amet, ' +
              'consectetur adipiscing elit.',
            backgroundColor: 'cyan',
            day: 24,
            month: 'Aug',
          },
        ])

      section.ui-kit-demo__location
        +location

      section.ui-kit-demo__calendar-messaging
        +calendar-messaging

      section.ui-kit-demo__video-box
        +video-box('https://www.youtube.com/embed/pzbqEG_chrs')
