@import '../../styles/variables/colors';

.contact {
  &__address-billboard {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;

    @media screen and (max-width: 722px) {
      flex-direction: column;
    }
  }

  &__address {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 50%;

    @media screen and (max-width: 722px) {
      margin-bottom: 2rem;
      text-align: center;
      width: 100%;
    }
  }

  &__billboard {
    min-width: 18rem;
    width: 35%;

    @media screen and (max-width: 722px) {
      width: 70%;
    }
  }

  &__map {
    margin: auto;
    width: 80%;

    @media screen and (max-width: 722px) {
      width: 105%;
    }
  }
}
