.contact {
  &__address-billboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;

    @media screen and (max-width: 722px) {
      flex-direction: column;
    }
  }

  &__address {
    width: 50%;
    font-size: 1.2rem;
    line-height: 2rem;

    @media screen and (max-width: 722px) {
      width: 100%;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &__billboard {
    width: 35%;
    min-width: 18rem;

    @media screen and (max-width: 722px) {
      width: 70%;
    }
  }

  &__map {
    width: 80%;
    margin: auto;

    @media screen and (max-width: 722px) {
      width: 105%;
    }
  }
}
