.form-elements {
  &__container {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin-top: 2.8rem;

    @media screen and (max-width: 722px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__message-form {
    margin-top: 0.15rem;
    width: 18rem;

    @media screen and (max-width: 722px) {
      margin-bottom: 1.5rem;
      width: 70%;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__toggles-tick-boxes {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 6.375rem;
    width: 8.125rem;

    @media screen and (max-width: 722px) {
      flex-flow: row wrap;
      margin-left: 0;
      margin-top: 1rem;
      width: 90%;
    }

    @media screen and (max-width: 400px) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__toggles {
    @media screen and (max-width: 722px) {
      width: 8rem;
    }
  }

  &__toggles-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.875rem;
    position: relative;
    right: 0.3125rem;
    width: 103%;

    @media screen and (max-width: 722px) {
      width: 100%;
    }
  }

  &__tick-boxes {
    margin-right: 0.3125rem;
    margin-top: 2.5rem;

    @media screen and (max-width: 722px) {
      margin: 0;
      width: 8rem;
    }

    @media screen and (max-width: 400px) {
      margin-top: 2rem;
    }
  }

  &__tick-boxes-container {
    display: flex;
    justify-content: space-between;
    margin: 1.8rem auto 0;
    position: relative;
    right: 0.3125rem;
    width: 3.9375rem;
  }
}
