@font-face {
  font-family: 'Lato - Black';
  src:  url('Lato/Lato-Regular.woff') format('woff'),
        url('Lato/Lato-Regular.ttf') format('truetype'),
        url('Lato/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
