@font-face {
  font-family: 'Lato - Black';
  src:  url('../../fonts/Lato-Black/Lato-Black.woff') format('woff'),
        url('../../fonts/Lato-Black/Lato-Black.ttf') format('truetype'),
        url('../../fonts/Lato-Black/Lato-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}