@font-face {
  font-family: 'Source Sans Pro';
  src:  url('Source Sans Pro/SourceSansPro-Regular.woff') format('woff'),
  url('Source Sans Pro/SourceSansPro-Regular.ttf') format('truetype'),
  url('Source Sans Pro/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}