@font-face {
  font-family: 'Source Sans Pro';
  src:  url('source-sans-pro/source-sans-pro-regular.woff') format('woff'),
        url('source-sans-pro/source-sans-pro-regular.ttf') format('truetype'),
        url('source-sans-pro/source-sans-pro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
