@import "../../styles/common";
@import '../../styles/site-styles';
@import '../../components/ui-kit-components/video/video';
@import '../components/header/header';
@import '../components/menu/menu';

.info {
  &__title {
    text-align: center;
    font-size: 2rem;
    color: inherit;
    margin: 20px;
  }

  &__text {
    margin: auto;
    width: 70%;
    text-align: center;
  }

  &__video {
    width: 594px;
    margin: 20px auto;
  }
}
