.info {
  &__title {
    color: $dark-gray;
    font-size: 2rem;
    margin: 1.25rem;
    text-align: center;
  }

  &__description {
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    width: 70%;

    @media screen and (max-width: 722px) {
      width: 85%;
    }
  }

  &__video {
    margin: 2rem auto 0;
  }
}
