extends ../../templates/site-page-template

block page-components
  include ../../components/site-components/header/header
  include ../../components/ui-kit-components/video/video

block title
  title Information

block page-content
  .info
    .info__title Welcome to our page!
    .info__description We are a Kazan school engaged in online training in web design. We will
      | teach you how to use programming languages such as HTML, CSS and
      | JavaScript. We’ll teach you how to develop original page designs and
      | bring them to life.
    .info__video
      +video('https://www.youtube.com/embed/JgIG6d3JsZs')
