.button {
  border-radius: 0.25rem;

  &_size {
    &_small {
      width: 4.875rem;
    }

    &_standard {
      width: 7.375rem;
    }
  }

  &_width {
    &_hundred-percents {
      width: 100%;
    }
  }

  &_color {
    &_cyan {
      background-color: $dark-cyan;

      &:hover {
        background-color: $dark-cyan;
      }
    }

    &_orange-red {
      background-color: $dark-orange-red;

      &:hover {
        background-color: $dark-orange-red;
      }
    }
  }

  &__button {
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.718rem;
    font-weight: 900;
    letter-spacing: 0.01rem;
    outline: 0;
    overflow: hidden;
    padding-top: 0.1rem;
    text-transform: uppercase;
    transform: translate(0, -9%);
    transition: background 0.5s;
    user-select: none;

    &:active {
      transform: translate(0, 0);
    }

    &_size {
      &_small {
        font-size: 0.6rem;
        height: 1.375rem;
        width: 100%;
      }

      &_standard {
        height: 2rem;
        width: 100%;
      }
    }

    &_color {
      &_cyan {
        background-color: $white;
        border: 0.0625rem solid $cyan;
        color: $cyan;

        &:hover {
          background-color: $cyan;
          color: $white;
        }
      }

      &_cyan-inverse {
        background-color: $cyan;
        border: 0.0625rem solid $cyan;
        color: $white;

        &:hover {
          background-color: $white;
          color: $cyan;
        }
      }

      &_orange-red {
        background-color: $white;
        border: 0.0625rem solid $orange-red;
        color: $orange-red;

        &:hover {
          background-color: $orange-red;
          color: $white;
        }
      }

      &_orange-red-inverse {
        background-color: $orange-red;
        border: 0.0625rem solid $orange-red;
        color: $white;

        &:hover {
          background-color: $white;
          color: $orange-red;
        }
      }
    }
  }
}

