.button {
  width: 7.375rem;
  border-radius: 0.25rem;

  &_size {
    &_small {
      width: 4.875rem;

      .button__button-element {
        font-size: 0.6rem;
        padding: 0.25rem 0.1rem;
      }
    }
  }
  
  &_width {
    &_greatest {
      width: 100%;
    }
  }

  &_color {
    &_primary {
      background-color: $theme-primary-dark;

      &:hover {
        background-color: $theme-primary-dark;
      }

      .button__button-element {
        background-color: $base-secondary-main;
        color: $theme-primary-main;
        border: 0.0625rem solid $theme-primary-main;

        &:hover {
          background-color: $theme-primary-main;
          color: $base-secondary-main;
        }
      }
    }

    &_primary-inverse {
      background-color: $theme-primary-dark;

      &:hover {
        background-color: $theme-primary-dark;
      }

      .button__button-element {
        background-color: $theme-primary-main;
        color: $base-secondary-main;
        border: 0.0625rem solid $theme-primary-main;

        &:hover {
          background-color: $base-secondary-main;
          color: $theme-primary-main;
        }
      }
    }

    &_secondary {
      background-color: $theme-secondary-dark;

      &:hover {
        background-color: $theme-secondary-dark;
      }

      .button__button-element {
        background-color: $base-secondary-main;
        color: $theme-secondary-main;
        border: 0.0625rem solid $theme-secondary-main;

        &:hover {
          background-color: $theme-secondary-main;
          color: $base-secondary-main;
        }
      }
    }

    &_secondary-inverse {
      background-color: $theme-secondary-dark;

      &:hover {
        background-color: $theme-secondary-dark;
      }

      .button__button-element {
        background-color: $theme-secondary-main;
        color: $base-secondary-main;
        border: 0.0625rem solid $theme-secondary-main;

        &:hover {
          background-color: $base-secondary-main;
          color: $theme-secondary-main;
        }
      }
    }
  }

  &__button-element {
    @include outline;

    width: 100%;
    font: 900 0.718rem Lato, Arial, sans-serif;
    letter-spacing: 0.05rem;
    padding: 0.6rem 0 0.4rem;
    border-radius: inherit;
    cursor: pointer;
    overflow: hidden;
    text-transform: uppercase;
    transform: translate(0, -9%);
    transition: background 0.5s;
    user-select: none;

    &:active {
      transform: translate(0, 0);
    }
  }
}
