@import '~jquery-ui/themes/base/core';
@import '~jquery-ui/themes/base/slider';
@import '../../../pips-float-plugin/jquery-ui-slider-pips';
@import '../../../styles/variables/colors';

.slider {
  &__scale {
    border-radius: 0.625rem;
    height: 0.3125rem;
    width: 100%;

    &_color {
      &_gray {
        background-color: $light-gray;
      }

      &_green {
        background-color: $cyan;
      }
    }

    &_type {
      &_for-stages {
        width: 100%;
      }
    }
  }

  &__range {
    border-radius: 0.625rem;

    &_color {
      &_gray {
        background-color: $light-gray;
      }

      &_green {
        background-color: $cyan;
      }

      &_orange-red {
        background-color: $orange-red;
      }
    }
  }

  &__handle {
    border-radius: 50%;
    cursor: pointer !important;
    height: 1.21875rem;
    outline: none;
    top: -0.4375rem !important;
    width: 1.21875rem;

    &_color {
      &_green {
        background-color: $cyan;
      }

      &_orange-red {
        background-color: $orange-red;
      }
    }

    &_type {
      &_for-stages {
        display: none;
      }
    }
  }

  &__tooltip {
    border-radius: 20%;
    font-size: 0.8125rem;
    height: 1.5rem;
    left: -0.5rem;
    letter-spacing: 0.040625rem;
    line-height: 1.75rem;
    position: absolute;
    text-align: center;
    top: -2.0625rem;
    user-select: none;
    width: 2.1875rem;

    &::after {
      border-style: solid;
      border-width: 0.3125rem;
      content: '';
      left: 50%;
      margin-left: -0.34375rem;
      position: absolute;
      top: 100%;
    }

    &_theme {
      &_orange-red {
        background-color: $orange-red;
        color: $white;

        &::after {
          border-color: $orange-red transparent transparent transparent;
        }
      }
    }
  }

  &__labels-line {
    display: none !important;
  }

  &__labels-pip {
    &_type {
      &_for-labels {
        font-size: 0.6875rem !important;
        letter-spacing: 0.034375rem !important;
        top: 0.625rem !important;
      }

      &_for-stages {
        border-radius: 50% !important;
        font-size: 0.875rem !important;
        height: 1.8125rem !important;
        letter-spacing: 0.04375rem !important;
        line-height: 1.125rem !important;
        text-align: center !important;
        top: -0.75rem !important;
        width: 1.8125rem !important;
      }
    }

    &_background-color {
      &_gray {
        background-color: $light-gray !important;
      }

      &_orange-red {
        background-color: $orange-red !important;
      }

      &_green {
        background-color: $cyan !important;
      }
    }

    &_color {
      &_white {
        color: $white !important;
      }

      &_gray {
        color: #d1d1d1 !important;
      }

      &_dark-gray {
        color: $gray !important;
      }
    }
  }

  &__labels-label {
    &_type {
      &_for-stages {
        padding-top: 0.0625rem !important;
        z-index: 1000 !important;
      }
    }
  }
}
