@import '~jquery-ui/themes/base/core';
@import '~jquery-ui/themes/base/slider';

.slider {
  &__scale {
    border-radius: 0.625rem;
    height: 0.3125rem;
    width: 100%;

    &_color {
      &_gray {
        background-color: $base-primary-light;
      }

      &_green {
        background-color: $theme-primary-main;
      }
    }

    &_type {
      &_for-stages {
        width: 100%;
      }
    }
  }

  &__range {
    border-radius: 0.625rem;

    &_color {
      &_gray {
        background-color: $base-primary-light;
      }

      &_green {
        background-color: $theme-primary-main;
      }

      &_orange-red {
        background-color: $theme-secondary-main;
      }
    }
  }

  .ui-slider-handle#{&}__handle {
    border-radius: 50%;
    cursor: pointer;
    height: 1.21875rem;
    outline: none;
    top: -0.4375rem;
    width: 1.21875rem;

    &_color {
      &_green {
        background-color: $theme-primary-main;
      }

      &_orange-red {
        background-color: $theme-secondary-main;
      }
    }

    &_type {
      &_for-stages {
        display: none;
      }
    }
  }

  &__tooltip {
    border-radius: 20%;
    font-size: 0.8125rem;
    height: 1.5rem;
    left: -0.5rem;
    letter-spacing: 0.040625rem;
    line-height: 1.75rem;
    position: absolute;
    text-align: center;
    top: -2.0625rem;
    user-select: none;
    width: 2.1875rem;

    &::after {
      border-style: solid;
      border-width: 0.3125rem;
      content: '';
      left: 50%;
      margin-left: -0.34375rem;
      position: absolute;
      top: 100%;
    }

    &_theme {
      &_orange-red {
        background-color: $theme-secondary-main;
        color: $base-secondary-main;

        &::after {
          border-color: $theme-secondary-main transparent transparent transparent;
        }
      }
    }
  }

  &__labels-line {
    display: none;
  }

  .ui-slider-pip#{&}__labels-pip {
    &_type {
      &_for-labels {
        font-size: 0.6875rem;
        letter-spacing: 0.034375rem;
        top: 0.625rem;
      }

      &_for-stages {
        border-radius: 50%;
        font-size: 0.875rem;
        height: 1.8125rem;
        letter-spacing: 0.04375rem;
        line-height: 1.125rem;
        text-align: center;
        top: -0.75rem;
        width: 1.8125rem;
      }
    }

    &_background-color {
      &_gray {
        background-color: $base-primary-light;
      }

      &_orange-red {
        background-color: $theme-secondary-main;
      }

      &_green {
        background-color: $theme-primary-main;
      }
    }

    &_color {
      &_white {
        color: $base-secondary-main;
      }

      &_gray {
        color: #d1d1d1;
      }

      &_dark-gray {
        color: $base-primary-main;
      }
    }
  }

  &__labels-label {
    &_type {
      &_for-stages {
        padding-top: 0.0625rem;
        z-index: 1000;
      }
    }
  }
}
