include ../../ui-kit-components/tick-box/tick-box
include ../block-sign/block-sign

mixin tick-boxes(checkedParameters)
  section.tick-boxes
    +block-sign('tick boxes', 'tick-boxes')
    
    .tick-boxes__container
      each parameter in checkedParameters
        +tick-box(parameter)
