include ../../ui-kit-components/search-bar/search-bar
include ../../ui-kit-components/dropdown/dropdown
include ../block-sign/block-sign

mixin search-dropdown({ searchBarQuantity = 2, dropdownsOptions } = {})
  - 
    dropdownsOptions = dropdownsOptions || [[
      "This is option 1", 
      "This is option 2", 
      "This is option 3", 
      "This is option 4", 
    ]];

  .search-dropdown
    +block-sign("search / drop down", "search-dropdown")

    .search-dropdown__container
      - for (var i = 0; i < 2; i += 1)
        +search-bar(parameters)

      each parameters in dropdownsOptions
        +dropdown(parameters)
