include ../../ui-kit-components/search-bar/search-bar
include ../../ui-kit-components/dropdown/dropdown
include ../block-sign/block-sign

mixin search-dropdown({ searchBarOptions, dropdownsOptions } = {})
  - 
    dropdownsOptions = dropdownsOptions || [[
      'This is option 1', 
      'This is option 2', 
      'This is option 3', 
      'This is option 4', 
    ]];

    searchBarOptions = searchBarOptions || [
      {}, 
      { theme: 'red', placeholder: 'I\'ve not found what I\'m looking for...' },
    ];

  .search-dropdown
    +block-sign('search / drop down', 'search-dropdown')

    .search-dropdown__container
      each options in searchBarOptions
        +search-bar(options)

      each parameters in dropdownsOptions
        +dropdown(parameters)
