@import '../../../components/message-form/message-form';
@import '../../../components/tick-box/tick-box';

.enroll-form {
  &__tick-boxes {
    float: left;
  }

  &__tick-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  &__tick-sign {
    margin-left: 10px;
  }
}
