include ../../../components/ui-kit-components/text-field/text-field
include ../../../components/ui-kit-components/tick-box/tick-box
include ../../../components/ui-kit-components/button/button

mixin enroll-form()
  form(class="message-form js-message-form" method="post")
    .message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'text',
        name: 'name',
        placeholder: 'Your Name',
        blockName: 'message-form'
      })

    .message-form__data-field_type_input.js-message-form__data-field_type_input
      +text-field({
        tagName: 'input',
        type: 'email',
        name: 'email',
        placeholder: 'Your Email',
        blockName: 'message-form'
      })

    .message-form__data-field_type_textarea
      +text-field({
        tagName: 'textarea',
        name: 'message',
        placeholder: 'Your Message',
        blockName: 'message-form'
      })
    .enroll-form__tick-boxes
      .enroll-form__tick-item
        +tick-box
        .enroll-form__tick-sign Subscribe
      .enroll-form__tick-item
        +tick-box
        .enroll-form__tick-sign Call me back
    .message-form__button
      +button({
        size: 'standard',
        color: 'cyan',
        content: 'submit'
      })
