@import '../../styles/variables/colors';
@import '../../styles/functions/functions';

.donut-chart {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__percentage {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #9d9d9d;
    font-size: countRem(40);
    line-height: 42px;
    letter-spacing: -2px;
    top: 40px;
  }

  &__animation {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    transform-origin: center;
    animation: donut-chart-animation 2s ease-in-out;
    -webkit-transition: stroke-width 1s;
    -moz-transition: stroke-width 1s;
    -ms-transition: stroke-width 1s;
    -o-transition: stroke-width 1s;
    transition: stroke-width 1s;
  }

  &:hover .donut-chart__animation {
    stroke-width: 13%;
  }
}

@keyframes donut-chart-animation {
  from {
    stroke-dasharray: 0;
  }
}
