.donut-chart_animation {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  transform-origin: center;
  animation: dntchrt-anim 2s ease-in-out;
  -webkit-transition: stroke-width 1s;
  -moz-transition: stroke-width 1s;
  -ms-transition: stroke-width 1s;
  -o-transition: stroke-width 1s;
  transition: stroke-width 1s;
}

@keyframes dntchrt-anim {
  from {stroke-dasharray: 0;}
}

.donut-chart:hover .donut-chart_animation {
  stroke-width: 13%;
}