@import '../../../styles/variables/colors';
@import '../../ui-kit-components/user-profile/user-profile';

.teachers {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  &__sign {
    color: $dark-gray;
    font-size: 1.3rem;
  }
}
