include ../../ui-kit-components/user-profile/user-profile

mixin teachers(sign = 'Our Teachers', teacherOptions)
  if !teacherOptions
    -
      teacherOptions = [
        {
          name: 'John Smith',
          job: 'ux designer',
          theme: 'orange-red'
        },
        {
          name: 'Sarah Brown',
          job: 'developer',
          theme: 'cyan'
        }
      ]

  .teachers
    .teachers__sign= sign
    each optionsItem in teacherOptions
      +user-profile(optionsItem)

