include ../../ui-kit-components/user-profile/user-profile

mixin teachers()
  .teachers
    .teachers__sign Our Teachers
    +user-profile({
      name: 'John Smith',
      job: 'ux designer',
      theme: 'orange-red'
    })
    +user-profile({
      name: 'Sarah Brown',
      job: 'developer',
      theme: 'cyan'
    })

