include ../menu-message/menu-message

mixin menu(links)
  if !links
    -
      links = [
        {
          name: "Information",
          url: "./info.html"
        },
        {
          name: "Course details",
          url: "./details.html"
        },
        {
          name: "Enroll in a course",
          url: "./enroll.html"
        },
        {
          name: "Contact us",
          url: "./contact.html"
        }
      ]

  .menu
    nav.menu__pages
      each linkItem in links
        - var { name, url } = linkItem

        a(href=url)= name
    .menu__message-box
      +menu-message
