include ../../../components/arrow-button/arrow-buttons

mixin course-stages()
    .course-stages
        .course-stages__title Course stages
        .course-stages__stage Javascript
        .course-stages__arrows
            +arrow-buttons
        .course-stages__slider
            .stages
