@import '../../../styles/variables/colors';
@import '../../ui-kit-components/arrow-buttons/arrow-buttons';
@import '../../ui-kit-components/slider/slider';

.stages {
  height: 13.125rem;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    color: $dark-gray;
  }

  &__stage {
    font-size: 1.5rem;
    text-decoration: underline;
    position: relative;
    top: 2.8125rem;

    @media screen and (max-width: 400px) {
      top: 0;
      margin: 1rem 0;
    }
  }

  &__arrows {
    width: 80%;
    margin: 0.625rem auto 2.5rem;

    @media screen and (max-width: 600px) {
      width: 95%;
    }
  }

  &__slider {
    width: 100%;
    margin: auto;

    .slider.slider_with_stages {
      .ui-slider-pip {
        &-selected {
          background-color: $cyan;
        }

        &-inrange {
          background-color: $cyan;
        }
      }
    }
  }
}
