@import '../../ui-kit-components/arrow-buttons/arrow-buttons';
@import '../../ui-kit-components/slider/slider';
@import '../../../styles/variables/colors';

.stages {
  width: 38.75rem;
  height: 13.125rem;
  text-align: center;

  &__title {
    font-size: 1.5rem;
  }

  &__stage {
    font-size: 1.5rem;
    text-decoration: underline;
    position: relative;
    top: 2.8125rem;
  }

  &__arrows {
    width: 26.875rem;
    margin: 0.625rem auto 2.5rem;
  }

  &__slider {
    width: 35.5rem;
    margin: auto;

    .slider.slider_with_stages {
      .ui-slider-pip {
        &-selected {
          background-color: $cyan;
        }

        &-inrange {
          background-color: $cyan;
        }
      }
    }
  }
}
