@import '../button/button';
@import '../../styles/variables/colors';
@import '../../styles/functions/functions';

.billboard {
  width: 288px;
  height: 212px;
  display: flex;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $white;

  &_background-color {
    &_cyan {
      background-color: $cyan;
    }

    &_orange-red {
      background-color: $orange-red;
    }
  }

  &__content {
    margin: 22px 20px 0px 23px;
    width: 193px;
  }

  &__image {
    width: 95px;
  }

  &__description {
    font-family: Lato;
    font-size: countRem(11);
    font-weight: 400;
    letter-spacing: 0.55px;
  }

  &__date {
    &_type {
      &_event {
        line-height: 60px;
        margin: 2px 0 0 -2px;

        span:nth-child(1) {
          font-size: countRem(73);
          letter-spacing: -2.92px;
        }

        span:nth-child(2) {
          font-size: countRem(30);
        }
      }

      &_new {
        font-size: countRem(11);
        line-height: 42px;
        text-transform: uppercase;
        letter-spacing: 0.55px;
        margin: -3px 0 0 3px;
      }
    }
  }

  &__title {
    &_type {
      &_event {
        font-size: countRem(13);
        text-transform: uppercase;
        line-height: 20px;
        letter-spacing: 0.63px;
        margin: -1px 0 0 -1px;
      }

      &_new {
        font-size: countRem(28);
        line-height: 26px;
      }
    }
  }

  &__button {
    width: 90%;
    margin: 19px auto;
  }
}
