include ../../ui-kit-components/datepicker/datepicker
include ../../ui-kit-components/message-box/message-box
include ../block-sign/block-sign

mixin calendar-messaging(messagingOptions)
  .calendar-messaging

    .calendar-messaging__calendar
      +block-sign('calendar')
      .calendar-messaging__container
        +datepicker

    .calendar-messaging__messaging
      +block-sign('messaging')
      .calendar-messaging__container
        +message-box(messagingOptions)
