.calendar-messaging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__calendar, &__messaging {
    margin-top: 2.2rem;
  }

  &__messaging {
    @media screen and (max-width: 400px) {
      margin-top: 0;
    }
  }
}
