include ../../ui-kit-components/search-bar/search-bar
include ../contact-info/contact-info
include ../help-form/help-form

mixin footer({ name = 'UI Masters', theme = 'darkGray', contacts = { linkColor: 'white' }, link } = {})
  - 
    link = link || { name:'back to ui-kit', href: './index.html' };
    
    const modifiers = {
      theme: {
        darkGray: 'footer_theme_dark-gray',
      },
    };

  .footer(class=modifiers.theme[theme])
    .footer__info
      .footer__name= name
      .footer__contacts
        +contact-info(contacts)
    .footer__navigation
      .footer__search-sign search
      .footer__search-bar
        +search-bar

      - const { name: linkName, href } = link;

      a.footer__link(href=href)= linkName

    .footer__message-us
      +help-form
