$cyan: #4eb7a8;
$dark-cyan: #46ab9d;

$orange-red: #e75735;
$dark-orange-red: #d54c2c;

$gray: #888888;
$light-gray: #e5e5e5;
$dark-gray: #4f4f4f;

$white: #ffffff;
$white-smoke: #f2f2f2;
$rose-white: #fdf4f2;
