$primary-cyan-main: #4eb7a8;
$primary-cyan-dark: #46ab9d;

$primary-orange-red-main: #e75735;
$primary-orange-red-dark: #d54c2c;

$secondary-gray-main: #888;
$secondary-gray-light: #e5e5e5;
$secondary-gray-dark: #4f4f4f;

$secondary-white-main: #fff;
$secondary-white-smoke: #f2f2f2;
$secondary-white-rose: #fdf4f2;
