$theme-primary-main: #4eb7a8;
$theme-primary-dark: #46ab9d;

$theme-secondary-main: #e75735;
$theme-secondary-dark: #d54c2c;

$base-primary-main: #888;
$base-primary-light: #e5e5e5;

$base-secondary-main: #fff;
$base-secondary-dark: #fdf4f2;

$text-primary-main: #4f4f4f;
