.search-dropdown-profiles {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 722px) {
    align-items: center;
    flex-direction: column;
  }

  &__search-dropdown {
    height: 10rem;
    margin-right: 2.1rem;
    margin-top: 2.75rem;
    width: 44%;

    @media screen and (max-width: 722px) {
      margin-right: 0;
      width: 60%;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__profiles {
    margin-top: 2.75rem;
    width: 40;

    @media screen and (max-width: 722px) {
      width: 60%;
    }

    @media screen and (max-width: 400px) {
      width: 90%;
    }
  }
}
