.search-dropdown-profiles {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__search-dropdown {
    height: 10rem;
    margin-top: 0.75rem;
  }

  &__profiles {
    width: 17.1875rem;
    margin-top: 0.75rem;
  }
}
