.demo-page-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: space-around;
  width: 100%;

  &__name {
    background-color: #e34a26;
    font-size: 2rem;
    padding: 0.3125rem 0;
    text-align: center;
    width: 100%;
  }

  &__link {
    @at-root {
      a#{&} {
        color: #000;
      }
    }
  }
}
