include ../../../components/message-box/message-box

mixin menu-message()
  .menu-message
    .menu-message__header Message us
    .menu-message__message-box
      +message-box('orange-red', 'Sarah Brown')
