.ui-datepicker-prev {
  border-color: #ffffff #ffffff transparent transparent;
  border-width: 4px !important;
  border-style: solid;
  transform: scale(0.5) rotate(-135deg);
  margin-top: 19px;
  margin-left: 6px !important;
  width: 17px !important;
  height: 17px !important;
  cursor: pointer;

}
