.ui-datepicker-calendar {
  color: #fdf4f2;
  font-family: "Lato - Black";
  border-collapse: collapse;

}

.ui-datepicker-calendar tbody td {
  border: 1px solid #ffffff;
}

.ui-datepicker-calendar {
  margin-top: -5px !important;
  width: 101% !important;
  margin-left: -2px !important;
}

.ui-datepicker-calendar thead th span {
  position: relative !important;
  top: 5px !important;
}

.ui-datepicker-calendar tbody td {
  height: 37px !important;
}

.ui-datepicker-calendar tbody td:hover {
  background-color: #e75735;
  height: 1px !important;
}

.ui-datepicker-calendar tbody td:active {
  background-color: lightgrey;
}

.ui-datepicker-calendar tbody td a {
  text-align: center;
  font-family: "Lato - Black";
  font-size: 1.3em;
}

.ui-datepicker-calendar a {
  color: #868686;
}

