button.ui-datepicker-current {
  height: 50px !important;
  width: 102% !important;
  background-color: #e5e5e5 !important;
  outline: none !important;
  border: none !important;
  position: relative !important;
  top: -15px;
  left: -6px;
  color: #868686 !important;
  font-family: "Lato - Black" !important;
  font-size: 1em !important;
  text-align: left;
  padding-left: 20px !important;
}
