.tick-box input:checked + .tick-box__checkmark {
  background-color: #4eb7a8;
}

.tick-box input:checked + .tick-box__checkmark div {
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}