.user-photo__tooltip .user-photo__links_theme_orange-red:nth-of-type(1) {
  background-image: url(../../../../img/links/orange-red-theme/FB.png);
}

.user-photo__tooltip .user-photo__links_theme_orange-red:nth-of-type(2) {
  background-image: url(../../../../img/links/orange-red-theme/Twitter.png);
}

.user-photo__tooltip .user-photo__links_theme_orange-red:nth-of-type(3) {
  background-image: url(../../../../img/links/orange-red-theme/Dribbble.png);

}

.user-photo__tooltip .user-photo__links_theme_orange-red {
  background-color: rgba(216, 187, 71, 0);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.user-photo__tooltip .user-photo__links_theme_orange-red:hover {
  background-color: rgba(196, 186, 186, 0.5);
}

.user-photo__tooltip .user-photo__links_theme_orange-red:active {
  background-color: rgba(196, 186, 186, 0);
}

@keyframes link-animation {
  0% { background-color: rgba(216, 187, 71, 0);  }
  100% { background-color: rgba(216, 187, 71, 1); }
  100% { background-color: rgba(216, 187, 71, 0); }
}