include ../components/header/header
include ../components/menu/menu
include ../components/enroll-form/enroll-form
include ../../../components/billboard/billboard
include ../../../components/datepicker/datepicker

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Enroll in a course")
        title Enroll
    body
        +header()
        .page-wrapper
            +menu()
            .page-content
                .enroll__title You can enroll in a course here (starts in February 14th):
                .enroll__content
                    .enroll__form
                        +enroll-form
                    .enroll__billboard
                        +billboard("news", "JavaScript course",
                                    "javascript", "First course starts february 14th!",
                                    "cyan", "14", "november", "2020")
                    .enroll__datepicker
                        +datepicker


