include ../navigation/navigation

mixin header({ name = 'UI Masters', theme = 'secondary', links } = {})
  -
    links = links || [
      { name: 'Info', url: './info.html' },
      { name: 'Details', url: './details.html' },
      { name: 'Enroll', url: './enroll.html' },
      { name: 'Contact', url: './contact.html' },
    ];

    const modifiers = {
      theme: {
        primary: 'header_color_primary',
        secondary: 'header_color_secondary',
      },
    };

  header.header(class=modifiers.theme[theme])
    header.header__name= name
    nav.header__navigation
      each item in links
        - const { name: linkName, url } = item;

        a.header__link(href=url)= linkName
