@import '../navigation/navigation';
@import '../../../styles/variables/colors';

.header {
  border: 0.2rem solid $dark-gray;
  box-sizing: border-box;
  height: 4rem;

  @media screen and (max-width: 600px) {
    height: 6rem;
  }

  &_color {
    &_orange-red {
      background-color: $orange-red;
    }

    &_cyan {
      background-color: $cyan;
    }
  }

  &__name {
    border-bottom: 0;
    border-right: 0.2rem solid $dark-gray;
    box-sizing: border-box;
    color: $white;
    float: left;
    font-size: 2rem;
    height: 100%;
    line-height: 4rem;
    text-align: center;
    width: 12rem;

    @media screen and (max-width: 600px) {
      border: 0;
      float: none;
      height: 60%;
      width: 100%;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
    float: left;
    height: 100%;
    justify-content: space-around;
    width: calc(100% - 12rem);

    @media screen and (max-width: 600px) {
      border-top: 0.2rem solid $dark-gray;
      float: none;
      height: 40%;
      width: 100%;
    }
  }

  &__link {
    color: $white;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-decoration: none;

    @media screen and (max-width: 500px) {
      letter-spacing: 0;
    }

    @media screen and (max-width: 400px) {
      font-size: 1.3rem;
    }

    &:hover {
      color: $gray;
    }
  }
}
