include ../navigation/navigation

mixin header({ name = "UI Design Courses Kazan", linkName = "BACK TO UI-KIT", linkURL = "./index.html", navName = "NAVIGATION", theme = "orange-red" } = {})
  header.header
    div(class=`header__left header__left_color_${theme}`)
      a(class="header__link" href=linkURL)= linkName
      .header__navigation
        +navigation({ size: "hundred-percents", sign: navName })
    .header__right
      .header__name= name


