@import '../navigation/navigation';
@import '../../../styles/variables/colors';

.header {
  min-width: 48.75rem;
  height: 8.125rem;
  position: relative;
  z-index: 10;

  &__left {
    width: 14.375rem;
    height: 100%;
    float: left;

    &_color {
      &_orange-red {
        background-color: $orange-red;
      }

      &_cyan {
        background-color: $cyan;
      }
    }
  }

  &__link {
    display: block;
    margin-top: 0.625rem;
    text-align: center;
    color: inherit;

    &:active {
      color: $dark-gray;
    }
  }

  &__navigation {
    width: 12.5rem;
    margin: 1.25rem auto 0;
  }

  &__right {
    height: 100%;
    line-height: 8.125rem;
    width: calc(100% - 14.375rem);
    background-color: $light-gray;
    min-width: 34.375rem;
    display: inline-block;
    text-align: start;
    float: right;
    padding-left: 1.875rem;
    box-sizing: border-box;
  }

  &__name {
    color: $orange-red;
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;
  }
}
