.user-profile {
  max-width: 23rem;
  min-width: 15rem;
  position: relative;

  &__tooltip {
    border-radius: 0.5rem;
    height: 5.8125rem;
    left: 6.5625rem;
    position: absolute;
    text-align: center;
    top: 0.03125rem;
    width: calc(100% - 5.8125rem);

    &::after {
      border-radius: 0.125rem;
      border-width: 0.375rem;
      content: '';
      height: 0.625rem;
      margin-top: -0.375rem;
      position: absolute;
      right: calc(100% - 0.34375rem);
      top: calc(50% + 0.1875rem);
      transform: rotate(45deg);
      width: 0.625rem;
    }

    &_color {
      &_cyan {
        background-color: $cyan;

        &::after {
          background-color: $cyan;
        }
      }

      &_grey {
        background-color: $light-gray;

        &::after {
          background-color: $light-gray;
        }
      }
    }
  }

  &__name {
    display: block;
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;

    &_color {
      &_orange-red {
        color: $orange-red;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__job {
    color: $dark-gray;
    display: block;
    font-size: 0.6875rem;
    letter-spacing: 0.034375rem;
    line-height: 0.6875rem;
    text-transform: uppercase;

    &_color {
      &_black {
        color: $dark-gray;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__links-container {
    display: flex;
    justify-content: space-around;
    margin: 0.3125rem auto 0;
    width: 73%;
  }

  &__link {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    height: 2.1875rem;
    position: relative;
    width: 2.1875rem;

    &::after {
      content: '';
      height: 1.875rem;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 1.875rem;
    }

    &_theme {
      &_cyan {
        background-color: rgba(20, 202, 130, 0);
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url('icons/fb-gray.png');
        }

        &:nth-of-type(2) {
          background-image: url('icons/twitter-gray.png');
        }

        &:nth-of-type(3) {
          background-image: url('icons/dribbble-gray.png');
        }

        &:hover {
          background-color: rgba(20, 202, 130, 1);
        }

        &:active {
          background-color: rgba(20, 202, 130, 0);
        }
      }

      &_orange-red {
        background-color: rgba(216, 187, 71, 0);
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url('icons/fb-white.png');
        }

        &:nth-of-type(2) {
          background-image: url('icons/twitter-white.png');
        }

        &:nth-of-type(3) {
          background-image: url('icons/dribbble-white.png');
        }

        &:hover {
          background-color: rgba(196, 186, 186, 0.5);
        }

        &:active {
          background-color: rgba(196, 186, 186, 0);
        }
      }
    }
  }
}
