.user-profile {
  max-width: 23rem;
  min-width: 15rem;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  &__tooltip {
    border-radius: 0.5rem;
    text-align: center;
    margin-left: 0.7rem;
    padding: 0 1.35rem;
    position: relative;

    &::after {
      border-radius: 0.125rem;
      border-width: 0.375rem;
      content: '';
      height: 0.625rem;
      margin-top: -0.375rem;
      position: absolute;
      right: calc(100% - 0.34375rem);
      top: calc(50% + 0.1875rem);
      transform: rotate(45deg);
      width: 0.625rem;
    }

    &_color {
      &_cyan {
        background-color: $primary-cyan-main;

        &::after {
          background-color: $primary-cyan-main;
        }
      }

      &_grey {
        background-color: $secondary-gray-light;

        &::after {
          background-color: $secondary-gray-light;
        }
      }
    }
  }

  &__name {
    display: block;
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;

    &_color {
      &_orange-red {
        color: $primary-orange-red-main;
      }

      &_white {
        color: $secondary-white-main;
      }
    }
  }

  &__job {
    color: $secondary-gray-dark;
    display: block;
    font-size: 0.6875rem;
    letter-spacing: 0.034375rem;
    line-height: 0.6875rem;
    text-transform: uppercase;

    &_color {
      &_black {
        color: $secondary-gray-dark;
      }

      &_white {
        color: $secondary-white-main;
      }
    }
  }

  &__links-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  &__link {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: inline-block;
    height: 2.1875rem;
    position: relative;
    width: 2.1875rem;
    margin: 0.4rem 0.15rem 0.58rem;
    flex-shrink: 0;

    &::after {
      content: '';
      height: 1.875rem;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 1.875rem;
    }

    &_theme {
      &_cyan {
        background-color: rgba(20, 202, 130, 0);
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url('images/fb-gray.png');
        }

        &:nth-of-type(2) {
          background-image: url('images/twitter-gray.png');
        }

        &:nth-of-type(3) {
          background-image: url('images/dribbble-gray.png');
        }

        &:hover {
          background-color: rgba(20, 202, 130, 1);
        }

        &:active {
          background-color: rgba(20, 202, 130, 0);
        }
      }

      &_orange-red {
        background-color: rgba(216, 187, 71, 0);
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url('images/fb-white.png');
        }

        &:nth-of-type(2) {
          background-image: url('images/twitter-white.png');
        }

        &:nth-of-type(3) {
          background-image: url('images/dribbble-white.png');
        }

        &:hover {
          background-color: rgba(196, 186, 186, 0.5);
        }

        &:active {
          background-color: rgba(196, 186, 186, 0);
        }
      }
    }
  }
}
