@import '../user-photo/user-photo';
@import '../../../styles/variables/colors';

.user-profile {
  position: relative;
  width: 18.75rem;

  &__tooltip {
    width: 10.125rem;
    height: 5.8125rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.03125rem;
    left: 6.5625rem;
    text-align: center;

    &::after {
      content: '';
      width: 0.625rem;
      height: 0.625rem;
      position: absolute;
      right: calc(100% - 0.34375rem);
      top: calc(50% + 0.1875rem);
      border-width: 0.375rem;
      margin-top: -0.375rem;
      border-radius: 0.125rem;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &_color {
      &_cyan {
        background-color: $cyan;

        &::after {
          background-color: $cyan;
        }
      }

      &_grey {
        background-color: $light-gray;

        &::after {
          background-color: $light-gray;
        }
      }
    }
  }

  &__name {
    font-size: 1.125rem;
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    display: block;
    line-height: 1.125rem;

    &_color {
      &_orange-red {
        color: $orange-red;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__job {
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 0.6875rem;
    letter-spacing: 0.034375rem;
    display: block;
    line-height: 0.6875rem;

    &_color {
      &_black {
        color: $dark-gray;
      }

      &_white {
        color: $white;
      }
    }
  }

  &__links {
    display: inline-block;
    margin: 0.3125rem 0.16875rem;
    width: 2.1875rem;
    height: 2.1875rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::after {
      content: '';
      width: 1.875rem;
      height: 1.875rem;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }

    &_theme {
      &_cyan {
        background-color: rgba(20, 202, 130, 0);
        -webkit-transition: background-color 1s;
        -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -o-transition: background-color 1s;
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url('icons/fb-gray.png');
        }

        &:nth-of-type(2) {
          background-image: url('icons/twitter-gray.png');
        }

        &:nth-of-type(3) {
          background-image: url('icons/dribbble-gray.png');
        }

        &:hover {
          background-color: rgba(20, 202, 130, 1);
        }

        &:active {
          background-color: rgba(20, 202, 130, 0);
        }
      }

      &_orange-red {
        background-color: rgba(216, 187, 71, 0);
        -webkit-transition: background-color 1s;
        -moz-transition: background-color 1s;
        -ms-transition: background-color 1s;
        -o-transition: background-color 1s;
        transition: background-color 1s;

        &:nth-of-type(1) {
          background-image: url(icons/fb-white.png);
        }

        &:nth-of-type(2) {
          background-image: url(icons/twitter-white.png);
        }

        &:nth-of-type(3) {
          background-image: url(icons/dribbble-white.png);
        }

        &:hover {
          background-color: rgba(196, 186, 186, 0.5);
        }

        &:active {
          background-color: rgba(196, 186, 186, 0);
        }
      }
    }
  }
}
