.toggle__sign_off {
  left: 27px;
}

.toggle input:not(:checked) + .toggle__slider + .toggle__sign_off {
  visibility: visible;
}

.toggle input:checked + .toggle__slider + .toggle__sign_off {
  visibility: hidden;
}

