.toggle__sign {
  position: absolute;
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 0;
  top: 50%;

}