.search-dropdown {
  height: 160px;
  margin-top: 12px;

  &__container {
    height: 117px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div:nth-child(1) {
      margin-bottom: -2px;
    }
  }
}
