@import '../../styles/common';
@import '../../styles/site-styles';
@import '../../components/ui-kit-components/message-form/message-form';
@import '../../components/ui-kit-components/billboard/billboard';
@import '../../components/ui-kit-components/datepicker/datepicker';
@import '../../components/site-components/header/header';
@import '../../components/site-components/menu/menu';

.enroll {
  &__form {
    width: 18.375rem;
  }

  &__title {
    margin: 1.25rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 1.25rem;
    height: 31.25rem;
  }

  &__billboard {
    width: 18.375rem;
  }

  &__datepicker {
    width: 18.125rem;
  }
}
