.enroll {
  &__form {
    width: 40%;

    @media screen and (max-width: 800px) {
      width: 85%;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__title {
    color: $text-primary-main;
    font-size: 1.5rem;
    margin: 1rem 1.35rem 1.35rem;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  &__content {
    height: 31.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: 800px) {
      height: auto;
    }
  }

  &__datepicker {
    margin-top: 2.5rem;
  }
}
