@import '../../styles/variables/colors';
@import '../../styles/common';
@import '../../styles/site-common';
@import '../../components/ui-kit-components/message-form/message-form';
@import '../../components/ui-kit-components/billboard/billboard';
@import '../../components/ui-kit-components/datepicker/datepicker';
@import '../../components/site-components/header/header';
@import '../../components/site-components/footer/footer';

.enroll {

  &__form {
    width: 40%;

    @media screen and (max-width: 800px) {
      width: 85%;
      margin-bottom: 2rem;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin: 1rem 1.35rem 1.35rem;
    font-size: 1.5rem;
    text-align: center;
    color: $dark-gray;

    @media screen and (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 31.25rem;

    @media screen and (max-width: 800px) {
      height: auto;
    }
  }

  &__datepicker {
    margin-top: 2.5rem;
  }
}
