.message-box__reply {
  border: 3px solid #ffffff;
  width: calc(100% - 6px - 15px); //12px - padding-left of the text-field
  height: 62px;
  position: absolute;
  top: 130px;
  padding-top: 16px;
  padding-left: 18px;
  resize: none;

}
