.message-box__message {
  width: calc(100% - 40px);
  position: absolute;
  top: 40px;
  padding: 20px;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: left;

  color: #868686;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.63px;
}