.arrow-buttons__arrow-container {
  width: 50px;
  height: 50px;
  border: 3px solid #4eb7a8;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  border-radius: 50%;

  //for ripple-effect:
  overflow: hidden;
  position: relative;

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.arrow-buttons__arrow-container:hover{
  .arrow-button__left-arrow, .arrow-button__right-arrow{
    border-color: #ffffff;
  }
  background-color: #4eb7a8;
}