.arrows {
  width: 130px;
  height: 50px;
}

.arrows:hover {
  .arrow-button__right-arrow {
    animation: slide-right 1s ease-in-out infinite;
  }

  .arrow-button__left-arrow {
    animation: slide-left 1s ease-in-out infinite;
  }
}
