.arrow-button__left-arrow, .arrow-button__right-arrow{
  width: 13.5px;
  height: 13.5px;
  margin: 13.5px auto;
}

.arrow-button__right-arrow {
  border-top: 3.5px solid #4eb7a8;
  border-right: 3.5px solid #4eb7a8;
  margin-right: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-button__left-arrow {
  border-left: 3.5px solid #4eb7a8;
  border-bottom: 3.5px solid #4eb7a8;
  margin-left: 18px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
