.arrow-buttons {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.arrow-buttons:hover {
  .arrow-button__right-arrow {
    animation: slide-right 1s ease-in-out infinite;
  }

  .arrow-button__left-arrow {
    animation: slide-left 1s ease-in-out infinite;
  }
}