.arrow-button__left-arrow, .arrow-button__right-arrow{
  width: 17px;
  height: 17px;
  margin: 14px auto;
}

.arrow-button__right-arrow {
  border-top: 3.5px solid #4eb7a8;
  border-right: 3.5px solid #4eb7a8;
  margin-right: 18px;
  animation: slide-right 1s ease-in-out infinite;
}

.arrow-button__left-arrow {
  border-left: 3.5px solid #4eb7a8;
  border-bottom: 3.5px solid #4eb7a8;
  margin-left: 18px;
  animation: slide-left 1s ease-in-out infinite;
}