include ../../../components/arrow-buttons/arrow-buttons

mixin course-stages()
    .course-stages
        .course-stages__title Course stages
        .course-stages__stage JavaScript
        .course-stages__arrows
            +arrow-buttons
        .stages.course-stages__slider

