@import '../../../../components/arrow-buttons/arrow-buttons';
@import '../../../../components/slider/slider';

.course-stages {
  width: 620px;
  height: 210px;
  text-align: center;

  .slider .ui-slider-pip {
    background-color: #4eb7a8;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__stage  {
    font-size: 1.5rem;
    text-decoration: underline;
    position: relative;
    top: 45px;
  }

  &__arrows {
    width: 430px;
    margin: 10px auto 40px;
  }

  &__slider {
    width: 260px;
    margin: auto;
  }
}
