include ../../ui-kit-components/message-box/message-box
include ../block-sign/block-sign

mixin messaging({ theme = "cyan", name = "Sarah Brown" } = {})
  .messaging
    +block-sign("messaging", "messaging")
    .messaging__container
      +message-box({ theme, name })
