include ../block-sign/block-sign
include ../../ui-kit-components/map/map

mixin location(coordinates, zoom, { sign, address } = {})
  .location
    +block-sign('location')
    
    .location__container
      +map(coordinates, zoom, { sign, address })
