include ../block-sign/block-sign
include ../../ui-kit-components/map/map

mixin location(coordinates = [37.791097, -122.415073], zoom = 14, { sign = 'Meet us!', address } = {})
  - address = address || '1259  CALIFORNIA ST San Francisco, CA';

  .location
    +block-sign('location', 'location')
    .location__container
      +map(coordinates, zoom, { sign, address })
