mixin datepicker()
  .datepicker.js-datepicker
    .datepicker__header.js-datepicker__header
      span.datepicker__current-day.js-datepicker__current-day
      .datepicker__month-line
    .datepicker__datepicker-wrapper.js-datepicker__datepicker-wrapper
    button.datepicker__today-button.js-datepicker__today-button today

