include ../../../components/user-profile/user-profile

mixin teachers()
  .teachers
    .teachers__sign Our Teachers
    +user-profile('John Smith', 'ux designer', 'orange-red')
    +user-profile('Sarah Brown', 'developer', 'cyan')

