include ../../../components/user-profile/user-profile

mixin teachers()

    .teachers
        .teachers__sign Our Teachers
        +user-photo_with-tooltip('John Smith', 'ux designer', 'orange-red')
        +user-photo_with-tooltip('Sarah Brown', 'developer', 'cyan')

