.contact-info {
  font-size: 1.2rem;
  line-height: 2rem;

  &__link {    
    text-decoration: none;
    padding-top: 0.1rem;
  
    &:hover {
      color: $theme-primary-dark;
    }
  
    &_color {
      &_dark-gray {
        @include outline;
        
        color: $text-primary-main;
      }
  
      &_white {
        @include outline(white);

        color: $base-secondary-dark;
      }
    }
  }
}
