.contact-info {
  font-size: 1.2rem;
  line-height: 2rem;

  &__link {
    text-decoration: none;
  
    &:hover {
      color: $theme-primary-dark;
    }
  
    &_color {
      &_dark-gray {
        color: $text-primary-main;
      }
  
      &_white {
        color: $base-secondary-dark;
      }
    }
  }
}
