.search-bar__input {
  width: 15.9vw;
  height: 26px;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;

  font-size: 15px;
  padding: 0 0 2px 0.9vw;
}