mixin search-bar
    .search-bar
        form
            input(type="text" placeholder="Search" name="search" class="text-field search-bar__input")
            button(type="submit" class="search-bar__button")