.search-bar__input {
  width: calc(100% - 33px);
  height: 28px;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  font-size: 15px;
  padding: 0 0 2px 0.9vw;
  box-sizing: border-box;
}
