.search-bar__button {
  background: #e75735 url("../../img/search.svg") no-repeat center;
  border: none;
  width: 33px;
  height: 28px;
  float: right;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  outline: none;
  cursor: pointer;
}

.search-bar__button:hover {
  box-shadow:0 0 5px black;
}

.search-bar__button:active {
  box-shadow: none;
}
