include ../text-field/text-field

mixin search-bar(options)
  -
    var wrapperClass = "search-bar"
    var hundredPercents = " search-bar_size_hundred-percents"

  if options && options.size === "100%"
    - wrapperClass += hundredPercents

  div(class=wrapperClass)
    form
      .search-bar__input
        +text-field({
          tagName: 'input',
          type: 'search',
          name: 'search',
          placeholder: 'Search',
          blockName: 'search-bar'
        })
      button(type="submit" class="search-bar__button")
