.message-box {
  width: 18rem;
  background-color: #f2f2f2;
  border-radius: 0.25rem;

  @media screen and (max-width: 400px) {
    width: 16rem;
  }

  &__header {
    height: 7.2rem;
    border-radius: inherit;
    position: relative;

    &::after {
      content: '';
      width: 100%;
      height: 2.125rem;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &_theme {
      &_primary {
        background-color: $theme-primary-main;

        &::after {
          background-color: $theme-primary-dark;
        }
      }

      &_secondary {
        background-color: $theme-secondary-main;

        &::after {
          background-color: $theme-secondary-dark;
        }
      }
    }
  }

  &__name {
    width: 18rem;
    height: 4.7rem;
    font: 300 2.125rem 'Source Sans Pro', Arial, sans-serif;
    color: $base-secondary-main;
    letter-spacing: -0.06375rem;
    line-height: 0.8;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  &__photo {
    position: absolute;
    bottom: calc(-5.875rem / 2);
    left: calc(50% - 6.3125rem / 2);
    z-index: 1;
  }

  &__chat {
    width: 84.7%;
    margin: 1.15rem auto 1.8125rem;
    position: relative;

    @media screen and (max-width: 400px) {
      margin-bottom: 1rem;
    }
  }

  &__buttons {
    height: 2rem;
    position: relative;
  }

  &__camera-button {
    @include outline;

    width: 1.75rem;
    height: 1.5625rem;
    background: url('images/camera-icon.svg') center no-repeat;
    display: inline-block;
    position: absolute;
    right: 0.3125rem;
  }

  &__chat-button {
    @include outline;

    width: 1.7rem;
    height: 1.5625rem;
    background: url('images/chat-icon.svg') 48% no-repeat;
    display: inline-block;
    position: absolute;
    top: 0.125rem;
    left: 0.1rem;
  }

  &__message {
    width: calc(100% - 2.5rem);
    min-height: 2rem;
    background-color: $base-secondary-main;
    border-radius: 0.3125rem;
    color: $base-primary-main;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.039375rem;
    margin-top: 0.7rem;
    padding: 1.05rem 1rem 1.5rem 1.25rem;
    letter-spacing: 0.025rem;
    position: relative;
    text-align: left;

    &::after {
      content: '';
      width: 0.625rem;
      height: 0.625rem;
      border-width: 0.375rem;
      background-color: inherit;
      border-radius: 0.125rem;
      position: absolute;
      bottom: calc(100% - 0.34375rem);
      left: 47%;
      transform: rotate(45deg);
    }
  }

  &__reply {
    margin-top: 0.9rem; 
  }

  &__reply-button {
    height: 3.7rem;
    margin-top: 0.85rem;
  }
}
