include ../user-photo/user-photo
include ../text-field/text-field
include ../button/button

mixin message-box({ theme = "cyan", name = "Sarah Brown" })
  .message-box.js-message-box(data-consultant=name)
    div(class=`message-box__header message-box__header_theme_${theme}`)
      .message-box__name.js-message-box__name
      .message-box__photo
        +user-photo(name)

    .message-box__body
      .message-box__chat
        a.message-box__chat-button(href="/mock-address/change-me")
        a.message-box__camera-button(href="/mock-address/change-me")
        .message-box__message.js-message-box__message
        form(method="post")
          .message-box__reply
            +text-field({
              tagName: "textarea",
              name: "reply",
              placeholder: "Your reply here...",
              blockName: "message-box"
            })

          .message-box__reply-button
            +button({
              size: "standard",
              color: theme,
              content: "reply",
              width: "hundred-percents"
            })
