.message-box {
  background-color: $white-smoke;
  border-radius: 0.25rem;
  height: 26.75rem;
  width: 18rem;

  @media screen and (max-width: 400px) {
    height: 25.5rem;
    width: 15.5rem;
  }

  &__header {
    border-radius: inherit;
    height: 7.1875rem;
    position: relative;
    width: 100%;

    @media screen and (max-width: 400px) {
      height: 6rem;
    }

    &::after {
      bottom: 0;
      content: '';
      height: 2.125rem;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &_theme {
      &_cyan {
        background-color: $cyan;

        &::after {
          background-color: $dark-cyan;
        }
      }

      &_orange-red {
        background-color: $orange-red;

        &::after {
          background-color: $dark-orange-red;
        }
      }
    }
  }

  &__body {
    height: calc(100% - 7.1875rem);
    width: 100%;
  }

  &__camera-button {
    background: url('icons/camera-icon.svg') center no-repeat;
    display: inline-block;
    height: 1.5625rem;
    position: absolute;
    right: 0.3125rem;
    width: 1.5625rem;
  }

  &__chat {
    height: calc(100% - 1.125rem - 1.8125rem);
    margin: 1.125rem auto 1.8125rem;
    position: relative;
    width: 84.7%;

    @media screen and (max-width: 400px) {
      height: calc(100% - 1.125rem - 1rem);
      margin-bottom: 1rem;
    }
  }

  &__chat-button {
    background: url('icons/chat-icon.svg') center no-repeat;
    display: inline-block;
    height: 1.5625rem;
    left: 0;
    position: absolute;
    top: 0.125rem;
    width: 1.5625rem;
  }

  &__message {
    background-color: $white;
    border-radius: 0.3125rem;
    color: $gray;
    font-size: 0.8125rem;
    height: 2rem;
    letter-spacing: 0.039375rem;
    padding: 1.25rem;
    position: absolute;
    text-align: left;
    top: 2.6875rem;
    width: calc(100% - 2.5rem);

    &::after {
      background-color: inherit;
      border-radius: 0.125rem;
      border-width: 0.375rem;
      bottom: calc(100% - 0.34375rem);
      content: '';
      height: 0.625rem;
      left: 47%;
      margin-top: -0.375rem;
      position: absolute;
      transform: rotate(45deg);
      width: 0.625rem;
    }
  }

  &__name {
    color: $white;
    font-family: 'Source Sans Pro';
    font-size: 2.125rem;
    letter-spacing: -0.06375rem;
    line-height: 4.375rem;
    text-align: center;

    @media screen and (max-width: 400px) {
      line-height: 3.7rem;
    }
  }

  &__photo {
    bottom: calc(-5.875rem / 2);
    left: calc(50% - 6.3125rem / 2);
    position: absolute;
    z-index: 1;
  }

  &__reply {
    position: absolute;
    top: 8.125rem;
    width: 100%;
  }

  &__reply-button {
    bottom: -0.125rem;
    position: absolute;
    width: 100%;
  }
}
