.message-box {
  background-color: $secondary-white-smoke;
  border-radius: 0.25rem;
  width: 18rem;

  @media screen and (max-width: 400px) {
    width: 15.5rem;
  }

  &__header {
    border-radius: inherit;
    height: 7.1875rem;
    position: relative;
    width: 100%;

    @media screen and (max-width: 400px) {
      height: 6rem;
    }

    &::after {
      bottom: 0;
      content: '';
      height: 2.125rem;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &_theme {
      &_cyan {
        background-color: $primary-cyan-main;

        &::after {
          background-color: $primary-cyan-dark;
        }
      }

      &_orange-red {
        background-color: $primary-orange-red-main;

        &::after {
          background-color: $primary-orange-red-dark;
        }
      }
    }
  }

  &__name {
    color: $secondary-white-main;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 300;
    font-size: 2.125rem;
    letter-spacing: -0.06375rem;
    line-height: 4.7rem;
    text-align: center;

    @media screen and (max-width: 400px) {
      line-height: 3.7rem;
    }
  }

  &__photo {
    bottom: calc(-5.875rem / 2);
    left: calc(50% - 6.3125rem / 2);
    position: absolute;
    z-index: 1;
  }

  &__chat {
    margin: 1.15rem auto 1.8125rem;
    position: relative;
    width: 84.7%;

    @media screen and (max-width: 400px) {
      margin-bottom: 1rem;
    }
  }

  &__buttons {
    height: 2rem;
    position: relative;
  }

  &__camera-button {
    background: url('images/camera-icon.svg') center no-repeat;
    display: inline-block;
    height: 1.5625rem;
    position: absolute;
    right: 0.3125rem;
    width: 1.5625rem;
  }

  &__chat-button {
    background: url('images/chat-icon.svg') center no-repeat;
    display: inline-block;
    height: 1.5625rem;
    left: 0.1rem;
    position: absolute;
    top: 0.125rem;
    width: 1.5625rem;
  }

  &__message {
    background-color: $secondary-white-main;
    border-radius: 0.3125rem;
    color: $secondary-gray-main;
    font-size: 0.8125rem;
    font-weight: 700;
    min-height: 2rem;
    letter-spacing: 0.039375rem;
    padding: 1.05rem 1rem 1.5rem 1.25rem;
    letter-spacing: 0.025rem;
    position: relative;
    text-align: left;
    margin-top: 0.7rem;
    width: calc(100% - 2.5rem);

    &::after {
      background-color: inherit;
      border-radius: 0.125rem;
      border-width: 0.375rem;
      bottom: calc(100% - 0.34375rem);
      content: '';
      height: 0.625rem;
      left: 47%;
      margin-top: -0.375rem;
      position: absolute;
      transform: rotate(45deg);
      width: 0.625rem;
    }
  }

  &__reply {
    margin-top: 0.9rem; 
  }

  &__reply-button {
    height: 3.7rem;
    margin-top: 0.85rem;
  }
}
