@import '../../../styles/variables/colors';

.block-sign {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  color: $dark-gray;
  letter-spacing: 2.4px;
  margin-left: 5px;

  &_type {
    &_for-charts {
      letter-spacing: 1.7px;
    }

    &_for-profile {
      margin-left: -10px;
      letter-spacing: 2.5px;
    }

    &_for-sliders {
      position: relative;
      left: 9px;
    }

    &_for-video-box {
      margin-left: -2px;
    }

    &_for-calendar, &_for-messaging {
      margin-left: -2px;
    }
  }
}
