@import '../../../styles/variables/colors';

.block-sign {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  color: $dark-gray;
  letter-spacing: 0.15rem;

  &_type {
    &_for-charts {
      letter-spacing: 0.10625rem;
    }

    &_for-profile {
      margin-right: 0.625rem;
      letter-spacing: 0.15625rem;
    }

    &_for-sliders {
      position: relative;
      left: 0.5625rem;
    }

    &_for-video-box {
      margin-right: 0.125rem;
    }

    &_for-calendar {
      margin-right: 0.125rem;
    }

    &_for-messaging {
      margin-right: 0.25rem;
    }
  }
}
