.map__footer-address {
  float: left;
  width: 145px;
  height: 26px;
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.63px;
  padding: 20px 0 23px 0;

}
