.text-field {
  background-color: $light-gray;
  border: 0;
  border-radius: 0.25rem;
  color: $gray;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 0.875rem;
  height: 1.75rem;
  letter-spacing: 0.00875rem;
  outline: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition: box-shadow 0.3s;

  &:focus {
    box-shadow: 0 0 0.3125rem #000;
  }

  &_type {
    &_for-search-bar {
      border-radius: 0.25rem 0 0 0.25rem;
      box-sizing: border-box;
      font-size: 0.9375rem;
      padding: 0 0 0.125rem 0.9vw;
      width: 100%;
    }

    &_for-message-form {
      @at-root {
        input#{&} {
          font-size: 0.9375rem;
          height: 1.5rem;
          padding-bottom: 0.2125rem;
          padding-left: 0.8125rem;
          width: 64%;
        }

        textarea#{&} {
          height: 4.75rem;
          padding-left: 0.84375rem;
          padding-top: 0.50625rem;
          resize: none;
          width: 91%;
        }
      }
    }

    &_for-message-box {
      border: 0.1875rem solid $white;
      height: 5.5rem;
      padding-left: 1.125rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      resize: none;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
