include ../../components/site-components/header/header
include ../../components/site-components/menu/menu
include ../../components/site-components/course-stages/course-stages
include ../../components/site-components/teachers/teachers
include ../../components/site-components/percentages/percentages

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Details about school and courses")
    title Course Details
  body
    +header()
    .page-wrapper
      +menu()
      .page-content
        .details
          .details__teachers-percentage
            .details__teachers
              +teachers
            .details__percentages
              +percentages
          .details__course-stages
            +course-stages
