@import '../../styles/common';
@import '../../styles/site-common';
@import '../../components/site-components/percentages/percentages';
@import '../../components/site-components/teachers/teachers';
@import '../../components/site-components/stages/stages';
@import '../../components/site-components/header/header';
@import '../../components/site-components/footer/footer';

.details {
  &__teachers {
    height: 15.625rem;
    margin-bottom: 2rem;
    width: 18.75rem;
  }

  &__percentages {
    width: 25rem;
  }

  &__course-stages {
    margin: 2.5rem auto 0;
    width: 90%;
  }

  &__teachers-percentage {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
