.details {
  &__teachers {
    width: 18.75rem;
    height: 15.625rem;
    margin-bottom: 2rem;
  }

  &__percentages {
    width: 25rem;
  }

  &__course-stages {
    width: 90%;
    margin: 2.5rem auto 0;
  }

  &__teachers-percentage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
