@import "../../styles/common";
@import '../../styles/site-styles';
@import "../components/percentages/percentages";
@import "../components/teachers/teachers";
@import "../components/course-stages/course-stages";
@import '../components/header/header';
@import '../components/menu/menu';

.details {
  &__teachers {
    width: 300px;
    height: 250px;
  }

  &__percentages {
    width: 400px;
    height: 250px;
  }

  &__course-stages {
    width: 630px;
    margin: 20px auto;
  }

  &__teachers-percentage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
  }
}
