@mixin font-face($font-family, $font, $type) {
  $weight: 400;
  $style: normal;

  @if $font == 'lato' {
    @if $type == 'black' {
      $weight: 900;
    }
  }

  $fontName: '#{$font}-#{$type}';

  @font-face {
    font-family: $font-family;
    src: url('../../assets/fonts/#{$fontName}/#{$fontName}.woff') format('woff'),
         url('../../assets/fonts/#{$fontName}/#{$fontName}.ttf') format('ttf'),
         url('../../assets/fonts/#{$fontName}/#{$fontName}.svg') format('svg');
    font-weight: $weight;
    font-style: normal;
  }
}
