@mixin font-face($font-family, $font, $type) {
  $weight: 400;
  $style: normal;

  @if $type == 'light' {
    $weight: 300;
  } @else if $type == 'bold' {
    $weight: 700;
  } @else if $type == 'black' {
    $weight: 900;
  }

  $font-name: '#{$font}-#{$type}';

  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $weight;
    src: url('../../assets/fonts/#{$font-name}/#{$font-name}.woff2'),
      url('../../assets/fonts/#{$font-name}/#{$font-name}.woff');
  }
}
