@mixin animation($translateX, $scale) {
  -webkit-transform: translateX($translateX) scale($scale) rotate(45deg);
  -moz-transform: translateX($translateX) scale($scale) rotate(45deg);
  -ms-transform: translateX($translateX) scale($scale) rotate(45deg);
  -o-transform: translateX($translateX) scale($scale) rotate(45deg);
  transform: translateX($translateX) scale($scale) rotate(45deg);
}

@keyframes slide-right {
  0%,
  100% {
    @include animation(0, 1);
  }

  50% {
    @include animation(4px, 1.2);
  }
}

@keyframes slide-left {
  0% {
    @include animation(0, 1);
  }

  50% {
    @include animation(-4px, 1.2);
  }

  100% {
    @include animation(0px, 1);
  }
}
