.stages .ui-slider-pip {
  font-family: "Lato - Black";
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 400;
  line-height: 18px;
  color: #888888;
  top: -12px;
  width: 29px;
  height: 29px;
  background-color: #e5e5e5;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  text-align: center;
}