.ui-slider {
  width: 260px;
  height: 5px;
}

.ui-slider .ui-slider-range {

}

.ui-slider .ui-slider-handle {
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
  top: -8px;
  cursor: pointer;
}