mixin tick-box(isChecked, { name, value = 'on' } = {})
  label.tick-box
    if name
      input(class="tick-box__input" type="checkbox" name=name value=value checked=isChecked)
    else
      input(class="tick-box__input" type="checkbox" checked=isChecked)

    .tick-box__check-mark-container
      .tick-box__check-mark
