mixin tick-box(isChecked, { id, name, value = 'on' } = {})
  label.tick-box
    input.tick-box__input(type="checkbox", id=id, name=name, value=value, checked=isChecked)

    .tick-box__check-mark-container
      .tick-box__check-mark
