.tick-box {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &__input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked {
      + .tick-box__check-mark-container {
        background-color: $theme-primary-main;

        .tick-box__check-mark {
          border-bottom: 0.125rem solid $base-secondary-main;
          border-left: 0.125rem solid $base-secondary-main;
        }
      }
    }

    &:focus {
      + .tick-box__check-mark-container {
        box-shadow: 0 0 0.3125rem #000;
      }
    }

    &:not(:checked) {
      + .tick-box__check-mark-container {
        background-color: $base-primary-light;

        .tick-box__check-mark {
          border-bottom: 0.125rem solid #c0c0c0;
          border-left: 0.125rem solid #c0c0c0;
        }
      }
    }
  }

  &__check-mark-container {
    background-color: $theme-primary-main;
    border-radius: 50%;
    height: 1.4375rem;
    transition: 0.3s;
    width: 1.5rem;
  }

  &__check-mark {
    border-bottom: 0.125rem solid #000;
    border-left: 0.125rem solid #000;
    height: 0.3125rem;
    left: 25%;
    position: absolute;
    top: 25%;
    transform: rotate(-45deg);
    width: 0.625rem;
  }
}
