@import '../../../styles/variables/colors';

.tick-box {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      + .tick-box__check-mark-container {
        background-color: $cyan;

        .tick-box__check-mark {
          border-bottom: 2px solid $white;
          border-left: 2px solid $white;
        }
      }
    }

    &:not(:checked) {
      + .tick-box__check-mark-container {
        background-color: $light-gray;

        .tick-box__check-mark {
          border-bottom: 2px solid #c0c0c0;
          border-left: 2px solid #c0c0c0;
        }
      }
    }
  }

  &__check-mark-container {
    width: 24px;
    height: 23px;
    background-color: $cyan;
    border-radius: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  &__check-mark {
    width: 10px;
    height: 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 25%;
    top: 25%;
  }
}
