mixin toggle(isChecked, { id, name, value = 'on' } = {})
  label.toggle
    input.toggle__input(type="checkbox", id=id, name=name, value=value, checked=isChecked)

    span.toggle__slider
    .toggle__sign.toggle__sign_off off
    .toggle__sign.toggle__sign_on on
