.toggle {
  width: 3.75rem;
  height: 1.5rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;

  &__input {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .toggle__slider {
      background-color: $theme-primary-main;

      &::before {
        transform: translateX(2.125rem);
      }

      + .toggle__sign_off {
        visibility: hidden;

        + .toggle__sign_on {
          display: block;
        }
      }
    }

    &:not(:checked) + .toggle__slider + .toggle__sign_off {
      visibility: visible;

      + .toggle__sign_on {
        display: none;
      }
    }

    &:focus + .toggle__slider {
      box-shadow: 0 0 0.3125rem #000;
    }
  }

  &__slider {
    background-color: $base-primary-light;
    border-radius: 2.125rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;

    &::before {
      content: '';
      width: 1.125rem;
      height: 1.125rem;
      background-color: $base-secondary-main;
      border-radius: 50%;
      position: absolute;
      bottom: 0.1875rem;
      left: 0.25rem;
      transition: 0.4s;
    }
  }

  &__sign {
    color: $base-secondary-main;
    font-size: 0.75rem;
    line-height: 0;
    letter-spacing: 0.0375rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;

    &_on {
      left: 0.75rem;
    }

    &_off {
      left: 1.6875rem;
    }
  }
}
