include ../../ui-kit-components/message-box/message-box

mixin menu-message()
  .menu-message
    .menu-message__header.js-menu-message__header Message us
    .menu-message__message-box.js-menu-message__message-box
      +message-box({
        theme: 'orange-red',
        name: 'Sarah Brown'
      })
